mixin textareaMat(data)
  - var data           = data || {}
  - var label          = data.label || "Lorem ipsum"
  - var id             = data.id || false
  - var name           = data.name || false
  - var required       = data.required || false
  - var dataValidation = data.dataValidation || false
  - var maxlength      = data.maxlength || false
  - var placeholder    = data.placeholder || "Taper votre texte ici"


  // .c-textareaMat
  span.c-textareaMat(
    data-e-field-validation=dataValidation ? dataValidation : false
    data-e-textcounter
  )&attributes(attributes)
    .c-textareaMat__wrap
      textarea.c-textareaMat__field(
        id=id
        name=name
        required=required
        maxlength=maxlength
        placeholder=placeholder
      )
      label.c-textareaMat__label(for=id)!=label

    if dataValidation
      +fieldInfo({
        typeMessage: 'error',
        input: true
      })(data-e-field-validation-error)

    if maxlength
      span.c-textareaMat__counter
        span(data-e-textcounter-count) 0
        = " / "
        span=maxlength
  // end .c-textareaMat
