include ../../formMat/formMat
include ../../visualChoice/visualChoice

mixin visualChoice(data)
  - var data           = data || {}
  - var label          = data.label || "Lorem ipsum"
  - var id             = data.id || false
  - var name           = data.name || false
  - var url            = data.url || "tuto-exterieur.jpg"
  - var value          = data.value || ""


  // .visualChoice
  label(for=id).c-visualChoice&attributes(attributes)
    .c-visualChoice__link
      .c-visualChoice__img(style='background-image:url("../images/contrib/'+ url +'");')

      
      .c-visualChoice__input
        span.c-radioMat(
            data-e-field-validation=dataValidation ? dataValidation : false
          )
            input.c-radioMat__field(
              type="radio"
              id=id
              name=name
              value=value
              required=required
            )
            p.c-radioMat__label
              span.c-radioMat__check.u-theme-bg.u-theme-color
              span.c-radioMat__text!=label


  // end .c-radioMat

mixin evaluationFAQ(data)
  - var data           = data || {}
  - var choice         = data.choice || ""
  - var visualChoice   = data.visualChoice || ""

  .c-evaluationFAQ(data-e-visualchoice)&attributes(attributes).u-margin-t-40

    div.u-textCenter.u-typoSize-16
      strong Avez-vous trouvé cette réponse utile ?

    .c-evaluationFAQ__content(class=choice)
      div.c-evaluationFAQ__content__choice
        +visualChoice({
          label: "oui",
          id:"choice01",
          name: "choice",
          url: "faqEvaluationOui.png"
        })(class=!visualChoice==="choice1"? "is-unChecked" : "is-checked")
        +visualChoice({
          label: "non",
          id:"choice02",
          name: "choice",
          url: "faqEvaluationNo.png"
        })(class=!visualChoice==="choice2"? "is-unChecked" : "is-checked")

      //- block 1
      .c-evaluationFAQ__content__choice1
        button.c-evaluationFAQ__content__close(type="button").icon.icon-close 
          span fermer
        .c-wysiwyg
          h2 Merci pour votre retour qui nous permet <br>de nous améliorer chaque jour.
          img(src="../images/contrib/ampoule.png" alt="")
          p <b>Bon à savoir</b> <br> Retrouvez en quelques clics votre échéancier de paiement, votre justificatif de domicile… ​<br>
          | <a href="#"> Me connecter à mon Espace Client </a>

      .c-evaluationFAQ__content__choice2
        button.c-evaluationFAQ__content__close(type="button").icon.icon-close 
        h3.u-typoSize-22.u-textCenter Dites nous comment mieux vous aider la prochaine fois
        +formMat()(data-e-form-validation='{"switchBtnState": true}')
          +inputMat({
            type : 'email',
            label: 'Email',
            placeholder: 'Saisissez votre email',
            name: 'email',
            required: true,
            pattern: 'email',
            dataValidation: {
              typing: false,
              validations: {
                customError: 'Erreur type customError',
                patternMismatch: 'format de mail incorrect',
                valueMissing: 'Champs obligatoire'
              }
            }
          })

          +textareaMat({
            label:          'Message',
            id:             'textareaMat2',
            name:           'textareaMat',
            required:       true,
            dataValidation: true,
            maxlength:      300
          })



          +btnWrapper().u-theme-genBlue.u-margin-t-40.c-btnWrapper--fullOnMobile
            +baseBtn({
              text: 'envoyer',
              button: true
            })(type="submit" data-e-form-validation-submit)
