mixin espritService-note(data)
  - var data         = data || {}
  - var rate         = data.rate || 3.5
  - var title        = data.title || false
  - var titleLink    = data.titleLink || false
  - var avisLink     = data.avisLink || false
  - var alone        = data.alone || false
  - var noAggregate  = data.noAggregate || false

  // .c-espritService-note
  .c-espritService-note(
    itemscope=noAggregate ? false : "itemscope"
    itemtype=noAggregate ? false : "http://schema.org/Product"
    class=alone ? "c-espritService-note--alone" : ""
  )
    if title
      .c-espritService-note__title(itemprop=noAggregate ? false : "name")
        if titleLink
          a(href="#")!=title
        else
          !=title

        if alone
          span.u-hideSmall.u-hideMedium &nbsp;:

    .c-espritService-note__rating
      +rating(rate * 2).c-espritService-note__rate

      .c-espritService-note__detail(
        itemprop=noAggregate ? false : "aggregateRating"
        itemscope=noAggregate ? false : "itemscope"
        itemtype=noAggregate ? false : "http://schema.org/AggregateRating"
      )
        span.u-textBold(itemprop=noAggregate ? false : "ratingValue")=rate
        span &nbsp;/&nbsp;5
        = " "
        span.c-espritService-note__opinionCount
          ="("
          if avisLink
            a(
              href="#"
              title="Voir tous les avis"
            )
              span(itemprop=noAggregate ? false : "reviewCount") 455900
              |  avis
            | )
          else
            span(itemprop=noAggregate ? false : "reviewCount") 455900
            |  avis)
  // end - .c-espritService-note