include callback/callback
include cart/cart


mixin floatingModal(data)
  - var data   = data || {}
  - var target = data.target || false

  // .c-floatingModal
  .c-floatingModal(
    data-e-toggle-target=target
  )&attributes(attributes)
    button.c-floatingModal__close(
      type="button"
      data-e-toggle-close=target
    )
      span.icon.icon-close
        span.u-visibilityHidden Fermer

    .c-floatingModal__content
      if block
        block
      else
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem distinctio iste aliquam deleniti aspernatur nisi ab exercitationem reiciendis vel explicabo! Aliquid molestias commodi quisquam exercitationem debitis accusantium dolorem doloribus pariatur.
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem distinctio iste aliquam deleniti aspernatur nisi ab exercitationem reiciendis vel explicabo! Aliquid molestias commodi quisquam exercitationem debitis accusantium dolorem doloribus pariatur.
  // END .c-floatingModal


mixin floatingModalArrow(data)
  - var data   = data || {}
  - var arrow  = data.arrow || "TR"
  - var target = data.target || false

  // .c-floatingModalArrow
  .c-floatingModalArrow(
    data-e-toggle-target=target
    class="c-floatingModalArrow--"+arrow
  )&attributes(attributes)
    .c-floatingModal.is-opened
      button.c-floatingModal__close(
        type="button"
        data-e-toggle-close=target
      )
        span.icon.icon-close
          span.u-visibilityHidden Fermer

      .c-floatingModal__content
        if block
          block
        else
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem distinctio iste aliquam deleniti aspernatur nisi ab exercitationem reiciendis vel explicabo! Aliquid molestias commodi quisquam exercitationem debitis accusantium dolorem doloribus pariatur.
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorem distinctio iste aliquam deleniti aspernatur nisi ab exercitationem reiciendis vel explicabo! Aliquid molestias commodi quisquam exercitationem debitis accusantium dolorem doloribus pariatur.
  // END .c-floatingModalArrow
