mixin uploadMat(data)
  - var data           = data || {}
  - var label          = data.label || "Lorem ipsum"
  - var id             = data.id || false
  - var name           = data.name || false
  - var required       = data.required || false
  - var dataValidation = data.dataValidation || false


  // .c-uploadMat
  span.c-uploadMat(
    data-e-uploadmat='{"maxSize": 1048576, "maxSizeMessage": "La taille du fichier dépasse le maximum"}'
    data-e-field-validation=dataValidation ? dataValidation : false
  )
    .c-uploadMat__btn
      input.c-uploadMat__field(
        name="filesToUpload[]"
        id="filesToUpload"
        type="file"
        required=required
        accept=".jpg, .jpeg, .png, .pdf, .tiff, .tif"
      )
      label.c-uploadMat__label(
        for="filesToUpload"
      )
        span.u-visibilityHidden Ajouter un ou plusieurs fichiers
        +btnWrapper({
          isSpan: true
        }).u-theme-genBlue.c-btnWrapper--fullOnMobile.c-btnWrapper--alignLeft(aria-hidden="true")
          +baseBtn({
            text:       "Envoyer un fichier",
            iconRight:  "icon-bold-upload",
            empty:      true,
            fakeButton: true
          })

    ul.c-uploadMat__list(data-e-uploadmat-list)

    p Fichiers Autorisés&nbsp;: jpg, pdf, tiff, tif, png

    if dataValidation
      +fieldInfo({
        typeMessage: 'error',
        input: true
      })(data-e-field-validation-error)
  // end .c-uploadMat
