mixin radioBlockMat(data)
  - var data           = data || {}
  - var label          = data.label || "Lorem ipsum"
  - var sousLabel          = data.sousLabel || "Lorem ipsum"
  - var id             = data.id || false
  - var name           = data.name || false
  - var blockMode      = data.blockMode || false
  - var dataValidation = data.dataValidation || false
  - var required       = data.required || false
  - var icon           = data.icon   ||  false
  - var checked           = data.checked   ||  false


  // .c-radioBlockMat
  span.c-radioBlockMat(
    data-e-field-validation=dataValidation ? dataValidation : false
    class=blockMode ? 'c-radioBlockMat--block' : false
    class=icon ? 'c-radioBlockMat--icon' : false
  )&attributes(attributes)
    input.c-radioBlockMat__field(
      type="radio"
      id=id
      name=name
      value="radio value"
      required=required,
      checked = checked
    )
    if !icon
      label.c-radioBlockMat__label.c-radioBlockMat__labelPadding(for=id)
        span.c-radioBlockMat__check.u-theme-bg.u-theme-color
        span.c-radioBlockMat__text.u-theme-color.c-wysiwyg!=label
    if icon
      label.c-radioBlockMat__label.c-radioBlockMat__labelPadding(for=id)
        span.c-radioBlockMat__text
          span.c-radioBlockMat__text!=label
          span.c-radioBlockMat__text!=sousLabel
        span.c-radioBlockMat__check.u-theme-bg.u-theme-color
      span.icon.icon-home2.c-radioBlockMat__iconLabel

    if block
      .c-radioBlockMat__aside.c-radioBlockMat__labelPadding
        block

      if dataValidation
        +fieldInfo({
          typeMessage: 'error',
          input: true
        })(data-e-field-validation-error)
  // end .c-radioBlockMat

mixin radioBlockMatEmpty(data)
  - var data           = data || {}
  - var label          = data.label || "IBAN"

  .c-radioBlockMatEmpty
      span.c-radioBlockMatEmpty__ticket non valide
      .c-radioBlockMatEmpty__text.c-radioBlockMat__labelPadding!=label
      .c-radioBlockMat__labelPadding.c-wysiwyg
        block
//- mixin radioBlockMatDisable(data)
