mixin accordion(data)
  - var data = data || {}
  - var settings = data.settings || {}
  - var alone = data.alone || false
  - var noWrapper = data.noWrapper || false

  // .c-accordion
  .c-accordion(
    class=alone ? "c-accordion--alone" : ""
    class=noWrapper ? "" : "l-wrapper--huge"
    data-e-accordion=settings
  )&attributes(attributes)
    block
  // end .c-accordion


mixin accordion-tab(id, data)
  - var data = data || {}
  - var tag = data.tag || "div"

  if data.opened
    - var opened = "true"
  else
    - var opened = false

  // .c-accordion__tab
  case tag
    when 'h2'
      h2.c-accordion__tab(
        data-e-accordion-tab
        id=id
        aria-expanded=opened
      )&attributes(attributes)
        block

    when 'h3'
      h3.c-accordion__tab(
        data-e-accordion-tab
        id=id
        aria-expanded=opened
      )&attributes(attributes)
        block

    default
      .c-accordion__tab(
        data-e-accordion-tab
        id=id
        aria-expanded=opened
      )&attributes(attributes)
        block
  // end .c-accordion__tab


mixin accordion-panel(id)
  // .c-accordion__panel
  .c-accordion__panel(
    data-e-accordion-panel
    aria-labelledby=id
    aria-hidden=opened
  )&attributes(attributes)
    block
  // end .c-accordion__panel
