include ../floatingModal/floatingModal

mixin stickyDock(data)
  - var data        = data || {}
  - var options     = data.options || ['cart', 'callback']
  - var outsidePage = data.outsidePage || false

  // .c-stickyDock
  .c-stickyDock(
    aria-label="Menu de contact et d'information"
    data-e-stickydock
    data-e-sticky=outsidePage ? false : '{"container": "floatingMenu", "keepBottom": true}'
    class=outsidePage ? "c-stickyDock--outside" : ""
  )&attributes(attributes)
    .c-stickyDock__list
      each val in options
        if val === 'cart'
          +stickyDockBtn({
            text: "Mon panier",
            icon: "bold-bag",
            name: "cart",
            notification: true
          }).c-stickyDock__item--notification

        if val === 'callback'
          +stickyDockBtn({
            text: "Contacter",
            icon: "bold-phone",
            name: "callback"
          })

        if val === 'callback-ko'
          +stickyDockBtn({
            text: "Contacter",
            icon: "bold-phone",
            name: "callback-ko"
          })

        //- if val === 'save'
        //-   +stickyDockBtn({
        //-     text: "Sauvegarder",
        //-     icon: "bold-save",
        //-     name: "save"
        //-   })

    each val in options
      if val === 'cart'
        +floatingModal({
          target: "cart"
        })
          +floatingCart

      if val === 'callback'
        +floatingModal({
          target: "callback"
        })
          +floatingCallback

      if val === 'callback-ko'
        +floatingModal({
          target: "callback-ko"
        })
          +floatingCallback('ko')

      //- if val === 'save'
      //-   +floatingModal({
      //-     target: "save"
      //-   })

    button(
      type="button"
      data-e-stickydock-trigger
    ).c-stickyDock__btn.c-stickyDock__trigger
      span.u-visibilityHidden Fermer le menu
      .c-stickyDock__picto
        span.icon.icon-menu-sticky-mobile
        span.icon.icon-close

  .c-stickyDockLayer(data-e-stickydock-layer)
  // END .c-stickyDock


mixin stickyDockBtn(data)
  - var data         = data || {}
  - var text         = data.text || "Lorem ipsum"
  - var icon         = data.icon || "close"
  - var name         = data.name || "toto"
  - var notification = data.notification || false

  button(
    type="button"
    data-e-toggle='{"target": "'+ name +'", "autoClose": true}'
    class=notification ? 'c-stickyDock__item--notification' : ''
  ).c-stickyDock__btn.c-stickyDock__item
    .c-stickyDock__label
      span!= text
    .c-stickyDock__picto
      span.icon(class="icon-"+ icon)
        if notification
          span.c-stickyDock__itemNotification
            span 2
      span.icon.icon-close
