mixin tunnelFilter(data)
  - var data = data || {}
  - var sideMenuTarget = data.sideMenuTarget || false

  // c-tunnelFilter
  .c-tunnelFilter&attributes(attributes)
    .c-tunnelFilter__header.u-hideLargeUp
      .c-tunnelFilter__title.u-heading-2.u-textCenter Revoir ma situation
      if sideMenuTarget
        .c-tunnelFilter__closeBtn
          +tunnelFilterButton({
            buttonTarget: sideMenuTarget,
            openButton: false,
            iconName: 'icon-close'
          })

    .c-tunnelFilter__content
      if block
        .c-tunnelFilter__wrapper
          block

      .c-tunnelFilter__userAddress.u-color-grey
        .c-tunnelFilter__addressPicto
          span.icon.icon-bold-locpin
        .c-tunnelFilter__addressInfos
          span 24 rue Denfert-Rochereau,
          br
          span 75014 Paris
  // end c-tunnelFilter


mixin tunnelFilterButton(data)
  - var data = data || {}
  - var buttonTarget = data.buttonTarget || false
  - var openButton = data.openButton || false
  - var iconName = data.iconName || 'icon-building'

  // .c-tunnelFilterButton
    - Bouton d'ouverture / fermeture du sideMenu
  button.c-tunnelFilterButton(
    type="button"
    data-e-side-menu-target=buttonTarget
    class=openButton ? 'c-tunnelFilterButton--open' : 'c-tunnelFilterButton--close'
  )&attributes(attributes)
    span.c-tunnelFilterButton__picto.icon(class=iconName)
    span.c-tunnelFilterButton__text.u-visibilityHidden!=openButton ? 'Ouvrir' : 'Fermer'
  // end .c-tunnelFilterButton
