mixin miniBubbleList(data)
  - var data = data || {}

  // .c-miniBubbleList
  .c-miniBubbleList
    block
  // end .c-miniBubbleList



mixin miniBubble(data)
  - var data = data || {}
  - var text = data.text || 'Un texte dans une bubble'
  - var inputID = data.inputID || 'htmlID'
  - var radioName = data.radioName || 'radioName'
  - var picto = data.picto || 'iconVente-client-no'

  // .c-miniBubble
  //-
    - la variable 'inputID' permet d'attribuer une même valeur à l'attribut 'for' du label et l'attribut 'id' de l'input
    - la variable 'radioName' permet d'attribuer une même valeur à l'attribut 'name' des différents inputs du même champs de formulaire radio

  .c-miniBubble
    input.c-miniBubble__input(type='radio' name=radioName id=inputID)
    label.c-miniBubble__label(for=inputID)
      .c-miniBubble__icon.iconVente(class=picto)
      .c-miniBubble__text=text
  // end .c-miniBubble