include formMat
include ../column/column

//- type : tel => ne pas utiliser type number (bug)

h3.u-fontSize-huge formMat
+demo({
  desc: `
    Activer la validation de formulaire: <code>data-e-form-validation</code> sur le form et <code>data-e-foreign-target</code> sur le bouton submit.
    <br><br>
    Pour afficher une erreur custom (après une réponse Ajax par ex.), utilisez <code>$0.eFieldValidation.setCustomError('Mon erreur custom');</code>.
    <br><br>
    Copier-coller dans la console pour essayer:
    <br>
    var $field = $('input[name="name"]').closest('[data-e-field-validation]');
    <br>
    $field.get(0).eFieldValidation.setCustomError('Mon erreur custom');
    `
})

  +formMat()(data-e-form-validation='{"switchBtnState": true}')
    +inputMat({
      label: "N'accepte que des chiffres, max 10 charactères",
      type: "tel",
      id: "refClient",
      pattern: '^[0-9]*$',
      maxlength: '10',
      name: "refClient",
      required: true,
      toolTip: "label",
      placeholder: 'Ex : 12345678',
      dataValidation: {
        typing: true,
        validations: {
          patternMismatch: 'patternMismatch: champs composé seulement de chiffres',
          valueMissing: 'Champs obligatoire'
        }
      }
    })

    +inputMat({
      label: 'Votre nom',
      type: "text",
      id: "name",
      name: "name",
      required: true,
      placeholder: 'Indiquez votre nom',
      dataValidation: true
    })

    +textareaMat({
      label:          'Un label',
      id:             'textareaMat1',
      name:           'textareaMat',
      dataValidation: true,
      maxlength:      120,
      dataValidation: true,
      required:       true
    })


    +inputMat({
      id: "date-picke-required",
      type : 'date',
      label: 'Pick a date :',
      pattern: "date",
      required:       true,
      dataValidation: true,
      placeholder: '07/07/2017',
      iconRight: 'icon-big-calendar',
      flatpickr: {
        minDate: -5,
        maxDate: "10/05/2019"
      }
    }).c-inputMat--datepicker

    +choiceWrapperMat
      +checkboxMat({
        label: 'Lorem ipsum dolor sit amet consectetur adipiscing elit',
        id: "checkTest1",
        name: 'radioTest'
      })
      +checkboxMat({
        label: 'Mon adresse à assurer est la même que mon adresse de contact',
        id: "checkTest2",
        name: 'radioTest'
      })
      +checkboxMat({
        label: "J'accepte que mes coordonnées soient envoyées aux Partenaires Gaz Tarif Réglementé pour mon projet travaux",
        id: "checkTest3",
        name: 'radioTest'
      })
    //- +cityMat()
    +btnWrapper().u-theme-green.u-margin-t-40.c-btnWrapper--fullOnMobile
      +baseBtn({
        text: 'Submit normal',
        button: true
      })(type="submit" data-e-form-validation-submit).c-baseBtn--large


h3.u-margin-t-40.u-padding-t-20.u-fontSize-huge inputMat
+demo({
  desc: 'Input de type text : <code>type="text"</code>'
})
  +inputMat({
    label: 'Input de type text',
    placeholder: 'Un placeholder'
  })

+demo({
  desc: 'Input avec "édition"'
})
  +inputMat({
    label: 'Input de type text',
    placeholder: 'Un placeholder',
    iconRight: 'icon-bold-edit'
  })

+demo({
  desc: 'Input de type email : <code>type="email"</code>'
})
  +inputMat({
    type : 'email',
    label: 'Input de type email',
    placeholder: 'Saisissez votre email',
    name: 'email',
    required: true,
    pattern: 'email',
    dataValidation: {
      typing: false,
      validations: {
        customError: 'Erreur type customError',
        patternMismatch: 'format de mail incorrect',
        valueMissing: 'Champs obligatoire'
      }
    }
  })

+demo({
  desc: `Input de type password : <code>type="password"</code> <br>- Ne pas utiliser <code>data-e-password</code> avec React !`
})
  +inputMat({
    type : 'password',
    label: 'Input de type password',
    placeholder: 'Saisissez votre mot de passe',
    pattern: 'password',
    minlength: 8,
    maxlength: 20,
    check: true,
    dataValidation: {
      validations: {
        patternMismatch: "Message d'erreur",
        tooShort: 'Trop court'
      }
    }
  })

+demo({
  desc: 'Input de code postal'
})
  +inputMat({
    type : 'tel',
    label: 'Input de type code postal',
    placeholder: 'Saisissez votre code postal',
    maxlength: 5,
    pattern: "cp",
    dataValidation: {
      validations: {
        patternMismatch: 'patternMismatch: Format incorrect'
      }
    }
  })

+demo({
  desc: 'Input de téléphone : <code>type="tel"</code>'
})
  +inputMat({
    type : 'tel',
    label: 'Input téléphone',
    placeholder: '0611135544',
    maxlength: 10,
    pattern: "tel",
    dataValidation: {
      validations: {
        patternMismatch: 'patternMismatch: Format incorrect'
      }
    }
  })

h3.u-margin-t-40.u-padding-t-20.u-fontSize-huge inputMat avec tooltip

+demo({
  desc: 'Input avec un tooltip'
})
  +inputMat({
    type : 'text',
    label: 'Référence client',
    placeholder: 'Ex : 000 000 000'
  })


h3.u-margin-t-40.u-padding-t-20.u-fontSize-huge inputMat en date-picker
+demo({
  desc: `
    Date picker <code>type="date"</code> et différents thèmes.
    <br>
    <code>data-flatpickr</code> permet de passer des options spécifiques à flatpickr.
    <br>
    <code>minDate: 'tomorrow'</code> flatpickr ne reconnais que "today", cette option est ajouté chez nous.
  `
})

  +inputMat({
    id: "date-picker",
    type : 'date',
    label: 'Pick a date :',
    placeholder: '07/07/2017',
    required: true,
    iconRight: 'icon-big-calendar',
    dataValidation: {
      validations: {
        valueMissing: 'Champs obligatoire'
      }
    }
  }).c-inputMat--datepicker


h3.u-margin-t-40.u-padding-t-20.u-fontSize-huge selectMat
+demo({
  desc: "Un champs select"
})
  +selectMat({
    label: 'Un champs select'
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge checkboxMat
+demo({
  desc: "Peut recevoir une classe <code>u-theme-...</code> pour déterminer la couleur du composant indépendamment du thème de son parent"
})
  +checkboxMat({
    label: 'Une checkbox',
    id: "checkboxMat1",
    name: 'radio'
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge radioMat
+demo({
  desc: "Peut recevoir une classe <code>u-theme-...</code> pour déterminer la couleur du composant indépendamment du thème de son parent"
})
  +radioMat({
    label: 'Un radio',
    id: "radioMat1",
    name: 'radio'
  })
  +radioMat({
    label: 'Un second radio',
    id: "radioMat2",
    name: 'radio'
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge radioBlockMat

+demo()
  +radioBlockMat({
    label: 'Mr Alex Smith',
    id: "radioBlockMat1",
    name: 'multilineradio'
  })
    | Société Générale
    br
    | XX 2222
  +radioBlockMat({
    label: 'Mme Alice Smith',
    id: "radioBlockMat2",
    name: 'multilineradio'
  })
    | Société Générale
    br
    | XX 2222


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge radioBlockMat version block

+demo({
  desc: `
    - Ajout de la classe <code>c-radioBlockMat--block</code> aux composants <code>c-radioBlockMat</code><br>
    - Incompatible avec le composant <code>c-choiceWrapperMat--hAlign</code>
  `
})
  +radioBlockMat({
    label: 'Mr Alex Smith',
    id: "radioBlockMatBlock1",
    name: 'multilineradioBlock',
    blockMode: true
  })
    | Société Générale
    br
    | XX 2222
  +radioBlockMat({
    label: 'Mme Alice Smith',
    id: "radioBlockMatBlock2",
    name: 'multilineradioBlock',
    blockMode: true
  })
    | Société Générale
    br
    | XX 2222

h3.u-fontSize-huge.u-margin-v-30 radio Icon

+demo({
  desc: `
    - Ajout de la classe <code>c-radioBlockMat--block</code> aux composants <code>c-radioBlockMat</code><br>
    - Incompatible avec le composant <code>c-choiceWrapperMat--hAlign</code>
  `
})
  +radioBlockMat({
    label: 'POUZET christiane - Ref : 203239656',
    id: "radioIcon1",
    name: 'radioIcon',
    blockMode: true,
    icon : true
  }).u-margin-b-10

  +radioBlockMat({
    label: 'TPAIN Alain - Ref : 203239656',
    id: "radioIcon2",
    name: 'radioIcon',
    blockMode: true,
    icon : true
  })

h3.u-fontSize-huge radio style

+demo({
  desc: `
    demo radio style </br>
    item contribuable : </br>
    - titreLabel
    - images
    - label
    - texte
    `
})
  .c-radioStyleWrapper
    +radioStyle({
      id: "radioMatStyle",
      name: 'radio',
      titre: 'Nouveaux*',
      label: 'Etip',
      textLabel: 'Je serai débité le XX/XX/XXXX',
      imgUrl: "e-tip.png",
      required: true,
      dataValidation: {
        validations: {
          valueMissing: ''
        }
      }
    })

    +radioStyle({
      id: "radioMatStyle2",
      name: 'radio',
      titre: 'test',
      label: 'Carte bancaire',
      textLabel: 'Je serai débité immédiatement',
      imgUrl: "carteBancaire.png",
      required: true,
      dataValidation: {
        validations: {
          valueMissing: ''
        }
      }
    })

    +radioStyle({
      id: "fS_radioMatStyle2",
      name: 'radio',
      titre: 'Appartement',
      icon: "icon-immeuble",
      required: true,
      dataValidation: {
        validations: {
          valueMissing: ''
        }
      }
    })


h3.u-fontSize-huge radio style

+demo({
  desc: `
    rajouté la classe <code>.c-radioStyleWrapper--vertical</code> pour que les items soit vertical
    `
})
  .c-radioStyleWrapper.c-radioStyleWrapper--vertical
    +radioStyle({
      id: "radioStyle",
      name: 'radio',
      titreEtip: 'Nouveaux*',
      label: 'Etip',
      textLabel: 'Je serai débité le XX/XX/XXXX',
      imgUrl: "e-tip.png",
      required: true,
      dataValidation: {
        validations: {
          valueMissing: ''
        }
      }
    })

    +radioStyle({
      id: "radioStyle2",
      name: 'radio',
      label: 'Carte bancaire',
      textLabel: 'Je serai débité immédiatement',
      imgUrl: "carteBancaire.png",
      required: true,
      dataValidation: {
        validations: {
          valueMissing: ''
        }
      }
    })




h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge choiceWrapperMat
+demo({
  desc: "Destiné à accueillir les composants radioMat, radioBlockMat et checkboxMat"
})
  +choiceWrapperMat
    +radioMat({
      label: 'Un radio',
      id: "radioTest1",
      name: 'radioTest'
    })
    +radioMat({
      label: 'Un second radio',
      id: "radioTest2",
      name: 'radioTest'
    })
    +radioMat({
      label: 'Un radio',
      id: "radioTest3",
      name: 'radioTest'
    })
    +radioMat({
      label: 'Un second radio',
      id: "radioTest4",
      name: 'radioTest'
    })

  +choiceWrapperMat
    +checkboxMat({
      label: 'Lorem ipsum dolor sit amet consectetur adipiscing elit',
      id: "checkTest1",
      name: 'radioTest'
    })
    +checkboxMat({
      label: 'Mon adresse à assurer est la même que mon adresse de contact',
      id: "checkTest2",
      name: 'radioTest'
    })
    +checkboxMat({
      label: "J'accepte que mes coordonnées soient envoyées aux Partenaires Gaz Tarif Réglementé pour mon projet travaux",
      id: "checkTest3",
      name: 'radioTest'
    })

  +choiceWrapperMat
    +radioBlockMat({
      label: 'Mr Alex Smith',
      id: "choiceWradioBlockMat1",
      name: 'choiceMultilineradio'
    })
      | Société Générale
      br
      | XX 2222
    +radioBlockMat({
      label: 'Mme Alice Smith',
      id: "choiceWradioBlockMat2",
      name: 'choiceMultilineradio'
    })
      | Société Générale
      br
      | XX 2222
    +radioBlockMat({
      label: 'Mme Alice Smith',
      id: "choiceWradioBlockMat3",
      name: 'choiceMultilineradio'
    })
      | Société Générale
      br
      | XX 2222

+demo({
  desc: "Peut aussi aligner les éléments horizontalement : ajouter la classe <code>c-choiceWrapperMat--hAlign</code> au composant <code>c-choiceWrapperMat</code>"
})
  +choiceWrapperMat.c-choiceWrapperMat--hAlign
    +radioMat({
      label: 'Un radio',
      id: "radioTest11",
      name: 'radioTest2'
    })
    +radioMat({
      label: 'Un second radio',
      id: "radioTest12",
      name: 'radioTest2'
    })
    +radioMat({
      label: 'Un radio',
      id: "radioTest13",
      name: 'radioTest2'
    })
    +radioMat({
      label: 'Un second radio',
      id: "radioTest14",
      name: 'radioTest2'
    })

  +choiceWrapperMat.c-choiceWrapperMat--hAlign
    +checkboxMat({
      label: 'Lorem ipsum dolor',
      id: "checkTest11",
      name: 'radioTest2'
    })
    +checkboxMat({
      label: 'Mon adresse à assurer est la même que mon adresse de contact',
      id: "checkTest12",
      name: 'radioTest2'
    })
    +checkboxMat({
      label: "J'accepte que mes coordonnées soient envoyées aux Partenaires Gaz Tarif Réglementé pour mon projet travaux",
      id: "checkTest13",
      name: 'radioTest2'
    })

  +choiceWrapperMat.c-choiceWrapperMat--hAlign
    +radioBlockMat({
      label: 'Mr Alex Smith',
      id: "choiceHAlignradioBlockMat1",
      name: 'multilineradioHAlign'
    })
      | Société Générale
      br
      | XX 2222
    +radioBlockMat({
      label: 'Mme Alice Smith',
      id: "choiceHAlignradioBlockMat2",
      name: 'multilineradioHAlign'
    })
      | Société Générale
      br
      | XX 2222
    +radioBlockMat({
      label: 'Mme Alice Smith',
      id: "choiceHAlignradioBlockMat3",
      name: 'multilineradioHAlign'
    })
      | Société Générale
      br
      | XX 2222


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge textareaMat
+demo()
  +textareaMat({
    label:          'Un textarea',
    id:             'textareaMat2',
    name:           'textareaMat',
    required:       true,
    dataValidation: true,
    maxlength:      120
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge Code postal + Ville
+demo()
  +cityMat()


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge uploadMat
+demo
  +uploadMat({
    required: true,
    dataValidation: {
      valueMissing: 'Champs obligatoire'
    }
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge uploadMat2
+demo
  +uploadMat2({
    id: 'uploadMat2_submit',
    dataValidation: {
      valueMissing: 'Champs obligatoire'
    }
  })


h3.u-margin-t-40.u-padding-t-20.u-fontSize-huge inputMat : les états de validation
+demo({
  desc : "Input success : ajouter la classe <code>is-success</code> à <code>c-inputMat</code> <br>Voir le code html pour l'icône"
})
  +inputMat({
    label: 'Input success',
    check: true,
    placeholder: 'Un placeholder'
  }).is-success


+demo({
  desc : "Input error : ajouter la classe <code>is-error</code> à <code>c-inputMat</code>"
})
  +inputMat({
    label: 'Input error',
    placeholder: 'Un placeholder',
    dataValidation: true
  }).is-error


+demo({
  desc : "Input warning : ajouter la classe <code>is-warn</code> à <code>c-inputMat</code>"
})
  +inputMat({
    label: 'Input warning',
    placeholder: 'Un placeholder',
    dataValidation: true
  }).is-warn


h3.u-margin-t-40.u-padding-t-20.u-fontSize-huge inputMat : les déclinaisons

+demo({
  desc: "Input text - label flottant: <code>.c-inputMat--float</code>, ne pas utiliser <code>data-e-float-label</code> avec React !<br> La classe <code>is-focus</code> monte le label."
})
  +inputMat({
    float: true,
    label: 'Input avec label flottant',
    id: 'floatLabel'
  })(data-e-float-label).c-inputMat--float


+demo({
  desc: "Input avec autocomplétion: saisir du texte pour faire apparaitre le bloc de suggestion, effacer pour le faire disparaitre"
})(demo-input-autocomplet)
  +inputMat({
    label: 'Input avec autocomplétion',
    placeholder: 'un place holder',
    autoComplete : true
  }).c-inputMat--suggest


+demo({
  desc: 'Input avec label invisible : assigner à <code>c-inputMat__label</code> la classe <code>u-visibilityHidden</code>'
})
  +inputMat({
    label: 'Label invisible',
    placeholder: 'Placeholder',
    hiddenLabel: true
  })


+demo({
  desc: "Input avec spinner"
})
  +inputMat({
    label: 'Waiting...',
    placeholder: 'un placeholder',
    waiting: true
  })


+demo({
  desc : "Input avec text ou icône à droite du champs"
})
  +inputMat({
    label: 'Icône à droite',
    placeholder: 'Place holder',
    dataValidation: true,
    iconRight: 'icon-gaz'
  })

  +inputMat({
    label: 'Texte à droite',
    placeholder: 'Place holder',
    dataValidation: true,
    textRight: 'KWh'
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge checkboxMat : les déclinaisons

+demo({
  desc: "checkbox avec link Active au click"
})
  +checkboxMat({
    label: 'une checkbox',
    id: "checkboxMat2"
  }).c-checkboxMat--link.u-textBold

+demo({
  desc: "Peut recevoir une classe <code>u-theme-...</code> pour déterminer la couleur du composant indépendamment du thème de son parent"
})
  +checkboxMat({
    label: 'Modifier votre mot de passe',
    id: "checkboxMat3"
  })(data-e-switch-toggle="initMdp").c-checkboxMat--link.u-textBold

  p(data-e-switch-toggle-name="initMdp") coucou
  p(data-e-switch-toggle-name="initMdp" hidden) text1
  p(data-e-switch-toggle-name="initMdp") text2


+demo({
  desc: "Avec label masqué (à éviter autant que possible)"
})
  +checkboxMat({
    label: 'une checkbox',
    id: "checkboxMat4",
    labelIsHidden: true
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge radioSwitchMat

+demo()
  +radioSwitchMat({
    label1: 'un label',
    label2: 'un autre label',
    id1:    'checkboxMat10',
    id2:    'checkboxMat11',
    name:   'checkboxMat'
  })
  br
  +radioSwitchMat({
    label1: 'un label',
    label2: 'un autre label',
    id1:    'checkboxMat12',
    id2:    'checkboxMat13',
    name:   'checkboxMat2',
    theme:  'green'
  })
h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge radioInteger
+demo()
  +radioInteger({
    id:    'sasa',
    name:   'personne',
    p : 5
  })


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge plugin formMatSwap avec radio

+demo({
  desc: "utilise les attributs <code>data-e-formmat-swap</code>, <code>data-e-formmat-swap-target</code> et <code>data-e-formmat-swap-name</code>"
}).u-theme-genBlue

  div(data-e-formmat-swap='{"name": "swap"}')
    +radioMat({
      label: 'valeur1',
      id: "radioMatSwap1",
      name: 'radioSwap',
      value: "valeur1"
    })
    +radioMat({
      label: 'valeur2',
      id: "radioMatSwap2",
      name: 'radioSwap',
      value: "valeur2"
    })
    +radioMat({
      label: 'valeur3',
      id: "radioMatSwap3",
      name: 'radioSwap',
      value: "valeur3"
    })

  fieldset(
    data-e-formmat-swap-target='["valeur1", "valeur3"]'
    data-e-formmat-swap-name="swap"
    hidden disabled
  )
    p Valeur 1 ou valeur 3

  fieldset(
    data-e-formmat-swap-target='["valeur1"]'
    data-e-formmat-swap-name="swap"
    hidden disabled
  )
    p Valeur 1

  fieldset(
    data-e-formmat-swap-target='["valeur2"]'
    data-e-formmat-swap-name="swap"
    hidden disabled
  )
    p Valeur 2


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge plugin formMatSwap avec un select
+demo({
  desc: "utilise les attributs <code>data-e-formmat-swap</code>, <code>data-e-formmat-swap-target</code> et <code>data-e-formmat-swap-name</code>"
}).u-theme-genBlue

  div(data-e-formmat-swap='{"name": "swap2"}')
    +selectMat({
      label: 'Un champs select'
    })
      option(value="") Aucun
      option(value="valeur1") valeur1
      option(value="valeur2") valeur2
      option(value="valeur3") valeur3

  fieldset(
    data-e-formmat-swap-target='["valeur1", "valeur3"]'
    data-e-formmat-swap-name="swap2"
    hidden disabled
  )
    p Valeur 1 ou valeur 3

  fieldset(
    data-e-formmat-swap-target='["valeur1"]'
    data-e-formmat-swap-name="swap2"
    hidden disabled
  )
    p Valeur 1

  fieldset(
    data-e-formmat-swap-target='["valeur2"]'
    data-e-formmat-swap-name="swap2"
    hidden disabled
  )
    p Valeur 2


h3.u-margin-t-40.u-padding-v-20.u-fontSize-huge plugin formMatSwap avec un CHECKBOX
+demo({
  desc: "utilise les attributs <code>data-e-formmat-swap</code>, <code>data-e-formmat-swap-target</code> et <code>data-e-formmat-swap-name</code>"
}).u-theme-genBlue

  div(data-e-formmat-swap='{"name":"swap3"}')
    +checkboxMat({
      label: 'Une checkbox',
      id: "checkboxMat-swap",
      name: 'checkbox-swap',
      value: "1"
    })

  fieldset(
    data-e-formmat-swap-target='["1"]'
    data-e-formmat-swap-name="swap3"
    hidden
    disabled
  )
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel quaerat nemo quidem. Modi, ipsa. Earum totam quae magnam est impedit, temporibus dolore ducimus cum ut quaerat, dolor officiis. Veniam, illum.