+demo({
  desc: "Pour créer un localStorage au click, ici pour l'accès au tunel"
})
  p
    a(
      href="#"
      data-e-storage='[{"item": "VENTE-storageDate", "value": "", "day": 0.083}, {"item": "VENTE-choixEnergie", "value": "G", "day": 0.083}, {"item": "VENTE-choixStatut", "value": "EMDM", "day": 0.083}, {"item": "VENTE-choixMarque", "value": "DolcePrimo", "day": 0.083}]'
    ) Ce lien ajoute des données dans le localStorage

  p
    a(
      href="#"
      data-e-storage='{"item": "VENTE-choixEnergiexxx", "value": "G", "day": 0.083}'
    ) Ce lien ajoute 1 donnée dans le localStorage

  p
    a(
      href="#"
      data-e-storage='[{"item": "VENTE-storageDate", "value": "", "day": 0.083}, {"item": "VENTE-choixEnergie", "value": "GE", "day": 0.083}, {"item": "VENTE-choixStatut", "value": "EMDM", "day": 0.083}, {"item": "VENTE-choixMarque", "value": "toto", "day": 0.083}]'
      data-e-storage-remove='["VENTE-choixMarque", "VENTE-trDemande", "VENTE-codePostal", "VENTE-codeINSEE", "VENTE-nomCommune"]'
    ) Ce lien ajoute des données dans le localStorage + supprimer plusieurs données