mixin appsBlock()

  // c-appsBlock
  ul.c-appsBlock
    block
  // END c-appsBlock


mixin appsBlockItem(data)
  - var data   = data || {}
  - var os     = data.os || 'android'

  if os === 'iOS'
    li.c-appsBlock__item
      a.c-appsBlock__link.c-appsBlock__link--ios(
        href="https://itunes.apple.com/fr/app/id1104269908"
        title="Disponible sur App Store"
      )
        include ../../assets/images/APP-iOS.svg
  else if os === 'windows'
    li.c-appsBlock__item
      a.c-appsBlock__link.c-appsBlock__link--windows(
        href="#"
        title="Télécharger à partir du Windows Phone Store"
      )
        include ../../assets/images/APP-Windows.svg
  else
    li.c-appsBlock__item
      a.c-appsBlock__link.c-appsBlock__link--android(
        href="https://play.google.com/store/apps/details?id=com.engie.particuliers"
        title="Disponible sur Google play"
        target="_blank"
        rel="noreferrer noopener"
      )
        include ../../assets/images/APP-Android.svg