- var demoNbr = 0

//- mixin demo(data)
//-   - var data = data || {}
//-   - var desc = data.desc || false

//-   - demoNbr++
//-   div(data-demo-html=demoNbr)&attributes(attributes).k-composantPage__case.u-margin-t-40
//-     block
//-     if desc
//-       .desc.u-padding-v-20.u-padding-h-20.u-margin-t-20
//-         p <strong>Description : </strong>
//-         p!=desc
//-       +composantPage__caseDesc()


//-     .c-btnWrapper.u-theme-indigo.c-btnWrapper--fullOnMobile.u-theme-genBlue
//-       button(data-e-toggle='{"target": "'+demoNbr+'", "btnActiveClass": "is-close","contentOpenedClass": "is-opened"}' type="button").k-composantPage__caseHtmlButton.c-baseBtn.u-theme-bg.u-theme-bg-hover Voir le HTML

//-     .k-composantPage__caseHtml
//-       pre(data-demo-display=demoNbr data-e-toggle-target=demoNbr)
//-         code.html

mixin demo(data)
  - var data = data || {}
  - var desc = data.desc || false

  - demoNbr++
  div(data-demo-html=demoNbr)&attributes(attributes)
    block

  .u-padding-t-20.u-padding-b-20.u-margin-t-20.u-margin-b-40.u-bg-black
    if desc
      .desc.u-padding-b-20.u-padding-h-20.u-color-white
        p <strong>Description : </strong>
        p!=desc
      +composantPage__caseDesc()

    .c-btnWrapper.u-theme-indigo.c-btnWrapper--fullOnMobile.u-theme-genBlue
      button(data-e-toggle='{"target": "'+demoNbr+'", "btnActiveClass": "is-close","contentOpenedClass": "is-opened"}' type="button").k-composantPage__caseHtmlButton.c-baseBtn.u-theme-bg.u-theme-bg-hover
        | voir HTML

    .k-composantPage__caseHtml
      pre(data-demo-display=demoNbr data-e-toggle-target=demoNbr)
        code.html

mixin composantIndex__header(data)
  - var data       = data || {}

  nav#k-composantIndex__header.k-composantIndex__navbar
    ul
      li
        a(href="#k-composantIndex__header" data-e-scrollto={"offset": 85})
          img(src="images/StudioDigitalEngie_Logo.png" alt="logo Studio Digital").k-composantIndex__headerLogo
      li
        a(href="#k-common" data-e-scrollto={"offset": 85}) Common
      li
        a(href="#k-composantsAEM" data-e-scrollto={"offset": 85}) Composants AEM
      li
        a(href="#k-sousComposants" data-e-scrollto={"offset": 85}) Sous composants
      li
        a(href="#k-pages" data-e-scrollto={"offset": 85}) Pages
      li
        a(href="#k-articles" data-e-scrollto={"offset": 85}) Articles
      li
        a(href="#k-faq" data-e-scrollto={"offset": 85}) FAQ
  block


mixin composantIndex(data)
  - var data       = data || {}
  - var devName    = data.devName || ""
  - var longName   = data.longName || ""
  - var text       = data.text || "Description succincte du composant, usage, page(s) concernée(s) ..."
  - var tags       = data.tags || "NC"
  - var update     = data.update || ": NC"
  - var link       = data.link || "#"

  .k-composantIndex
    .k-composantIndex__desc
      a(href=link).k-composantIndex__title.u-textBold!=devName
        br
        !=longName
      span.k-composantIndex__titleArrow &#9656;
      p.k-composantIndex__text.u-margin-t-20!=text
      p.k-composantIndex__text.u-margin-t-20
        strong Tags :&nbsp;
          !=tags
      p.k-composantIndex__update.u-margin-t-20 Mis à jour le&nbsp;
        !=update
    block


mixin composantIndex__img(data)
  - var data       = data || {}
  - var imgLink    = data.imgLink || "#"
  - var imgSrc     = data.imgSrc || "indexKit/logoStudio.png"

  .k-composantIndex__img(style='background-image:url(images/'+imgSrc+')')
    a(href=imgLink).k-composantIndex__img--hover
      .k-composantIndex__img--hoverLink Voir cas


mixin composantPage__menuCase(data)
  - var data       = data || {}

  .k-composantPage__menuCase.u-margin-t-40
    .k-composantPage__menuCaseAccess Accès rapides
    .k-composantPage__menuCaseItemWrapper
      block


mixin composantPage__menuCaseItem(data)
  - var data       = data || {}
  - var caseName   = data.caseName || "Cas composant"
  - var caseLink   = data.caseLink || false

  a(href!=caseLink data-e-scrollto={"offset": 77}).k-composantPage__menuCaseItem!=caseName
    block


mixin composantPage__caseDesc(data)
  - var data       = data || {}
  - var caseName   = data.caseName || ""
  - var caseUpdate = data.caseUpdate || ""
  - var caseSize   = data.caseSize || ""
  - var caseTheme  = data.caseTheme || ""
  - var caseDesc   = data.caseDesc || ""

  .u-padding-t-20.u-margin-b-20.k-composantPage__caseDesc
    .u-heading-3!=caseName
    if caseUpdate
      p.k-composantIndex__update Mis à jour le&nbsp;
        span!=caseUpdate
    .u-margin-t-20.k-composantPage__caseDescContent
      if caseSize
        p Taille de l’image :&nbsp;
          span.u-textBold!=caseSize
      if caseTheme
        p Thèmes compatibles :&nbsp;
          span.u-textBold!=caseTheme
      if caseDesc
        span!=caseDesc
  block

mixin composantPage__backToTop(data)
  - var data       = data || {}

  .k-composantPage__backToTop.u-margin-v-15 &#9650; &nbsp;
    a(href="#k-composantPage-title" data-e-scrollto={"offset": 100}).k-composantPage__backToTopLink
      | Haut de page
  block
