//- include column/column

//- //- form
//- include form/form
//- include formContact/formContact
//- include btnWrapper/btnWrapper
//- include formMat/formMat
//- include fieldInfo/fieldInfo
//- include loginFeedback/loginFeedback

//- include appsBlock/appsBlock

//- include modal/modal
//- include floatingModal/floatingModal
//- include stickyDock/stickyDock

//- include zip2city/zip2city

//- include pager/pager
//- include openPopup/openPopup
//- include toggle/toggle
//- include accordion/accordion
//- include iframe/iframe
//- include img/img
//- include headSection/headSection

//- include greyWrapper/greyWrapper

//- include blockquote/blockquote
//- include legalMention/legalMention
//- include separator/separator
//- include spinner/spinner
//- include assuranceBand/assuranceBand
//- include sideMenu/sideMenu
//- include tooltip/tooltip
//- include pictoBlock/pictoBlock
//- include moreLessInput/moreLessInput

//- include wysiwyg/wysiwyg

//- include siteHeader/siteHeader
//- include siteFooter/siteFooter
//- include footerLight/footerLight

//- include espritService/espritService

//- include bannerApp/bannerApp
//- include tabs/tabs
//- include title/title
//- include titleV2/titleV2
//- include linkLongArrow/linkLongArrow
//- include carousel/carousel
//- include quickAccess/quickAccess
//- include quickAccess2/quickAccess2
//- include textImage/textImage
//- include image/image
//- include backtoTop/backtoTop

//- include contactElement/contactElement
//- include contactButton/contactButton
//- include contactLegal/contactLegal
//- include contactContainer/contactContainer

//- include listLinks/listLinks
//- include advantages/advantages
//- include breadcrumb/breadcrumb
//- include blockLinks/blockLinks
//- include error/error
//- include date/date
//- include sticky/sticky
//- include stickyContact/stickyContact
//- include siteMap/siteMap
//- include flash/flash
//- include gazConnect/gazConnect
//- include facebookMessenger/facebookMessenger

//- include userReview/userReview
//- include pictoLink/pictoLink

//- include combobox/combobox

//- include faq/faq
//- include article/article
//- include infoBlock/infoBlock

//- include reviewFeedBack/reviewFeedBack
//- include paging/paging
//- include pushBlock/pushBlock
//- include pushLight/pushLight

//- include offerPromo/offerPromo
//- include productList/productList
//- include stepByStep/stepByStep
//- include timeLine/timeLine
//- include listChoiceButton/listChoiceButton
//- include selectImpostor/selectImpostor
//- include selectOptions/selectOptions
//- include pushPromo/pushPromo
//- include bubbleSelect/bubbleSelect
//- include verticalStep/verticalStep
//- include arrowBox/arrowBox
//- include toggleCheck/toggleCheck
//- include choiceBox/choiceBox
//- include arrowBorder/arrowBorder

//- DEMO MIXIN ONLY
//- var demoNbr = 0

//- mixin demo(data)
//-   - var data = data || {}
//-   - var desc = data.desc || false

//-   - demoNbr++
//-   div(data-demo-html=demoNbr)&attributes(attributes)
//-     block

//-   .u-padding-t-20.u-padding-b-20.u-margin-t-20.u-margin-b-40.u-bg-black
//-     if desc
//-       .desc.u-padding-b-20.u-padding-h-20.u-color-white
//-         p!=desc

//-     button(data-e-toggle='{"target": "'+demoNbr+'", "btnActiveClass": "is-close","contentOpenedClass": "is-opened"}' type="button")
//-       | .oOo. HTML .oOo.

//-     pre(data-demo-display=demoNbr data-e-toggle-target=demoNbr)
//-       code.html

// version new kit beta

//- - demoNbr++
//- div(data-demo-html=demoNbr)&attributes(attributes).k-composantPage__case.u-margin-t-40
//-   block
//-   if desc
//-     .desc.u-padding-v-20.u-padding-h-20.u-margin-t-20
//-       p <strong>Description : </strong>
//-       p!=desc
//-     +composantPage__caseDesc()


//-   .c-btnWrapper.u-theme-indigo.c-btnWrapper--fullOnMobile.u-theme-genBlue
//-     button(data-e-toggle='{"target": "'+demoNbr+'", "btnActiveClass": "is-close","contentOpenedClass": "is-opened"}' type="button").k-composantPage__caseHtmlButton.c-baseBtn.u-theme-bg.u-theme-bg-hover Voir le HTML

//-   .k-composantPage__caseHtml
//-     pre(data-demo-display=demoNbr data-e-toggle-target=demoNbr)
//-       code.html