mixin bubble(data)
  - var data      = data || {}
  - var text      = data.text || 'Un texte dans une bubble'
  - var inputID   = data.inputID || 'htmlID'
  - var radioName = data.radioName || 'radioName'
  - var picto     = data.picto || 'iconVente-client-no'
  - var info      = data.info || false

  // .c-bubble
    - la variable 'inputID' permet d'attribuer une même valeur à l'attribut 'for' du label et l'attribut 'id' de l'input
    - la variable 'radioName' permet d'attribuer une même valeur à l'attribut 'name' des différents inputs du même champs de formulaire radio

  .c-bubble
    input.c-bubble__input(type='radio' name=radioName id=inputID)
    label.c-bubble__label(
      for=inputID
      class=info ? "c-bubble__label--withInfo" : ""
    )
      .c-bubble__icon.iconVente(class=picto)
      .c-bubble__text=text

    if info
      .c-bubble__info!=info
  // end .c-bubble