include siteNav/siteNav
include ../spinner/spinner
include searchBar/searchBar


    
mixin siteHeaderV3
  - var data         = data || {}
  - var dropDown        = data.dropDown || true

  // .c-siteHeaderV3
  .c-siteHeaderV2(role="banner" data-e-sticky='{"container": "siteHeader", "scrollTop" : true}').v3
    .l-wrapper--main
      // skip links for accessibility
      .u-visibilityHidden
        ul
          li: a(href="#siteContent") Contenu
          li: a(href="#siteNav") Navigation
      // end - skip links for accessibility

      header.c-siteHeaderV2__header.u-clearfix
        .c-searchBar__mask
        .c-searchBar__maskMobile
        +siteHeaderMobileV3
        .c-siteHeaderV2__main
          h1.c-siteHeaderV2__logo
            a.c-siteHeaderV2__logoLink(
              href="../"
              title="Accueil"
            )
              img.c-siteHeaderV2__logoImg(
                src=localhostCommon+"/images/logo_tarif_reglemente.svg"
                alt="Gaz Tarif Réglementé, une marque du groupe Engie"
              )
          .c-siteHeaderV2__topHeader

            .c-siteHeaderV2__navigation

              //- top header
              .c-siteHeaderV2__secondaryNav
                +searchBar-v3()
                .c-siteHeaderV2__blocRight
                  .c-siteHeaderV2__call 
                    a(href='#').c-siteHeaderV2__callLink
                      span.c-siteHeaderV2__callText
                        span.icon.icon-phone
                          strong.c-siteHeaderV2__callInfo__number 34 60
                        span.c-siteHeaderV2__callInfo
                          span.c-siteHeaderV2__callInfo__text Prix d'un appel local

                if dropDown
                  .c-siteHeaderV2CustomerArea(data-e-dropDownHeader class="no-js").is-connect
                    .c-siteHeaderV2__dropDown__mask(data-e-dropDownHeader-close)
                    a(data-e-redirect-btn ).c-siteHeaderV2CustomerArea__button
                      span 
                        img(src="../images/contrib/userDeconnect.svg" alt="Connectez-vous à votre Espace Client").is-desktop
                        img(src="../images/contrib/userDeconnect.svg" alt="Connectez-vous à votre Espace Client").is-mobile
                      //- span.icon.icon-userConnect
                      span.c-siteHeaderV2CustomerArea__text Espace Client
                      //- +spinner()

                    .c-siteHeaderV2__dropDown
                      span 
                        span M. Martin Charle
                        .icon.icon-closes.u-hideLarge(class="js-close")
                          <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M1 1l30 30M1 31L31 1" stroke="#ffffff" stroke-width="2" fill="none" stroke-linecap="round"/></svg>

                      ul.c-siteHeaderV2__dropDownMain
                        li
                          a(href="#" aria-expanded="true" class="js-focus-1").u-padding-r-16 Mes Factures & Paiements
                        li
                          a(href="#" aria-expanded="true") Activ’Conso & Relevé
                        li
                          a(href="#" aria-expanded="true") Mon Profil
                        li.u-padding-t-24.c-siteHeaderV2__itemLogOut
                          +btnWrapper
                            +baseBtn({
                              text: "Déconnexion",
                              iconLeft : "icon-deconnexion",
                              empty : true
                            })
                        li 
                          a( href="#" class="js-siteHeaderV2-lastChild u-link u-visibilityHidden") fermer

                else
                  .c-siteHeaderV2CustomerArea(data-e-redirect='{"url1": "/pages/synthesePage.html", "url2": "/pages/loginPage.html", "service": "../fake/fake-ec-redirect.txt"}')
                    .c-siteHeaderV2__dropDown__mask
                    a.c-siteHeaderV2CustomerArea__button(href="#" data-e-redirect-btn)
                      span.icon.icon-userDeconnect
                      span.c-siteHeaderV2CustomerArea__text Mon compte
                      +spinner()

              //- END top header

              .c-siteHeaderV2__mainNav
                button.c-siteHeaderV2__mainNav__button(
                  data-e-toggle='{"target":"siteNav", "autoClose": true}'
                  type="button"
                )
                  span.c-siteHeaderV2__mainNav__picto
                  span.c-siteHeaderV2__mainNav__text Menu
                +siteNav()
  // end .c-siteHeaderV3


mixin siteHeaderMobileV3
  - var data         = data || {}

  .c-siteHeaderMobileV3
    .c-siteHeaderMobileV3__left
      .c-siteHeaderMobileV3__nav
        .c-siteHeaderV2__mainNav
          button.c-siteHeaderV2__mainNav__button(
            data-e-toggle='{"target":"siteNav", "autoClose": true}'
            type="button"
          ).c-siteHeaderV2__mainNav__menu
            span.c-siteHeaderV2__mainNav__picto
            span.c-siteHeaderV2__mainNav__text Menu
            span.c-siteHeaderV2__mainNav__text-is-Close Fermer
          +siteNavMobile()    
      .c-siteHeaderMobileV3__logo 
        .c-siteHeaderV2__main
          h1.c-siteHeaderV2__logo
            a.c-siteHeaderV2__logoLink(
              href="../"
              title="Accueil"
            )
              img.c-siteHeaderV2__logoImg(
                src=localhostCommon+"/images/logo_tarif_reglemente.svg"
                alt="Gaz Tarif Réglementé, une marque du groupe Engie"
              )
    .c-siteHeaderMobileV3__right
      .c-siteHeaderMobileV3__searchBar 
        +searchBarMobile-v3



      .c-siteHeaderMobileV3__EC 

        .c-siteHeaderV2CustomerArea(data-e-dropDownHeader class="no-js").is-connect
          .c-siteHeaderV2__dropDown__mask(data-e-dropDownHeader-close)
          a(data-e-redirect-btn ).c-siteHeaderV2CustomerArea__button
            //- span 
            //-   img(src="../images/contrib/userDeconnect.svg" alt="Connectez-vous à votre Espace Client").is-desktop
            //-   img(src="../images/contrib/userDeconnect.svg" alt="Connectez-vous à votre Espace Client").is-mobile
            span.icon.icon-userConnect
            span.c-siteHeaderV2CustomerArea__text Espace Client
            //- +spinner()

          .c-siteHeaderV2__dropDown
            span 
              span M. Martin Charle
              .icon.icon-closes.u-hideLarge(class="js-close")
                <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M1 1l30 30M1 31L31 1" stroke="#ffffff" stroke-width="2" fill="none" stroke-linecap="round"/></svg>

            ul.c-siteHeaderV2__dropDownMain
              li
                a(href="#" aria-expanded="true" class="js-focus-1").u-padding-r-16 Mes Factures & Paiements
              li
                a(href="#" aria-expanded="true") Activ’Conso & Relevé
              li
                a(href="#" aria-expanded="true") Mon Profil
              li.u-padding-t-24.c-siteHeaderV2__itemLogOut
                +btnWrapper
                  +baseBtn({
                    text: "Déconnexion",
                    iconLeft : "icon-deconnexion",
                    empty : true
                  })
              li 
                a( href="#" class="js-siteHeaderV2-lastChild u-link u-visibilityHidden") fermer

      



//- // old site header v2 version 
//- mixin siteHeaderV2(data)
//-   - var data         = data || {}
//-   - var dropDown        = data.dropDown || true

//-   // .c-siteHeaderV2
//-   .c-siteHeaderV2(role="banner" data-e-sticky='{"container": "siteHeader", "scrollTop" : true}')
//-     .l-wrapper--main
//-       // skip links for accessibility
//-       .u-visibilityHidden
//-         ul
//-           li: a(href="#siteContent") Contenu
//-           li: a(href="#siteNav") Navigation
//-       // end - skip links for accessibility

//-       header.c-siteHeaderV2__header.u-clearfix
//-         .c-searchBar__mask 
//-         .c-siteHeaderV2__main
//-           h1.c-siteHeaderV2__logo
//-             a.c-siteHeaderV2__logoLink(
//-               href="../"
//-               title="Accueil"
//-             )
//-               img.c-siteHeaderV2__logoImg(
//-                 src=localhostCommon+"/images/logo_tarif_reglemente.svg"
//-                 alt="Gaz Tarif Réglementé, une marque du groupe Engie"
//-               )
//-           .c-siteHeaderV2__topHeader

//-             .c-siteHeaderV2__navigation

//-               //- top header
//-               .c-siteHeaderV2__secondaryNav
//-                 +searchBar-v3()
//-                 .c-siteHeaderV2__blocRight
//-                   .c-siteHeaderV2__call
//-                     a(href='#').c-siteHeaderV2__callLink
//-                       span.c-siteHeaderV2__callText
//-                         span.icon.icon-phone
//-                           strong.c-siteHeaderV2__callInfo__number 34 60
//-                         span.c-siteHeaderV2__callInfo
//-                           span.c-siteHeaderV2__callInfo__text (Prix d'un appel local)

//-                 if dropDown
//-                   .c-siteHeaderV2CustomerArea(data-e-dropDownHeader class="no-js").is-connect
//-                     .c-siteHeaderV2__dropDown__mask(data-e-dropDownHeader-close)
//-                     a(data-e-redirect-btn ).c-siteHeaderV2CustomerArea__button
//-                       span 
//-                         img(src="../images/contrib/userDeconnect.svg" alt="Connectez-vous à votre Espace Client").is-desktop
//-                         img(src="../images/contrib/userDeconnect.svg" alt="Connectez-vous à votre Espace Client").is-mobile
//-                       //- span.icon.icon-userConnect
//-                       span.c-siteHeaderV2CustomerArea__text Espace Client
//-                       //- +spinner()

//-                     .c-siteHeaderV2__dropDown
//-                       span 
//-                         span M. Houcine yahaoui
//-                         .icon.icon-closes.u-hideLarge(class="js-close")
//-                           <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><title>Shape</title><path d="M1 1l30 30M1 31L31 1" stroke="#ffffff" stroke-width="2" fill="none" stroke-linecap="round"/></svg>

//-                       ul.c-siteHeaderV2__dropDownMain
//-                         li
//-                           a(href="#" aria-expanded="true" class="js-focus-1").u-padding-r-16 Mes Factures & Paiements
//-                         li
//-                           a(href="#" aria-expanded="true") Activ’Conso & Relevé
//-                         li
//-                           a(href="#" aria-expanded="true") Mon Profil
//-                         li.u-padding-t-24.c-siteHeaderV2__itemLogOut
//-                           +btnWrapper
//-                             +baseBtn({
//-                               text: "Déconnexion",
//-                               iconLeft : "icon-deconnexion",
//-                               empty : true
//-                             })
//-                         li 
//-                           a( href="#" class="js-siteHeaderV2-lastChild u-link u-visibilityHidden") fermer

//-                 else
//-                   .c-siteHeaderV2CustomerArea(data-e-redirect='{"url1": "/pages/synthesePage.html", "url2": "/pages/loginPage.html", "service": "../fake/fake-ec-redirect.txt"}')
//-                     .c-siteHeaderV2__dropDown__mask
//-                     a.c-siteHeaderV2CustomerArea__button(href="#" data-e-redirect-btn)
//-                       span.icon.icon-userDeconnect
//-                       span.c-siteHeaderV2CustomerArea__text Mon compte
//-                       +spinner()

//-               //- END top header

//-               .c-siteHeaderV2__mainNav
//-                 button.c-siteHeaderV2__mainNav__button(
//-                   data-e-toggle='{"target":"siteNav", "autoClose": true, "mq": ["small", "mediumOnly"]}'
//-                   type="button"
//-                 )
//-                   span.c-siteHeaderV2__mainNav__picto
//-                   span.c-siteHeaderV2__mainNav__text Menu
//-                 +siteNav()
//-   // end .c-siteHeaderV2

mixin siteHeaderV2SecondaryBlockContent(data)
  - var link       = data.link || "#"
  - var link2      = data.link2 || "#"
  - var linkLabel  = data.linkLabel || "Lorem ipsum text"
  - var linkLabel2 = data.linkLabel2 || ""

  ul.c-siteHeaderV2SecondaryBlockLayer__group
    li.c-siteHeaderV2SecondaryBlockLayer__item
      a.c-siteHeaderV2SecondaryBlockLayer__link(href=link)!=linkLabel

    if (linkLabel2 != "")
      li.c-siteHeaderV2SecondaryBlockLayer__item
        a.c-siteHeaderV2SecondaryBlockLayer__link(href=link2)!=linkLabel2

mixin siteHeaderV2SecondaryBlock(data)
  - var data         = data || {}
  - var hiddenMobile = data.hiddenMobile === true ? "is-hidden-small-medium" : ""
  - var iconClass    = data.iconClass || "icon-XX"
  - var isRight      = data.isRight == true ? "c-siteHeaderV2SecondaryBlock__content--right" : ""
  - var blockId      = data.blockId || ""
  - var text         = data.text || "Lorem ipsum"

  .c-siteHeaderV2SecondaryBlock(class=hiddenMobile)
    button.c-siteHeaderV2SecondaryBlock__button(
      type="button"
      data-e-toggle='{"target":"'+blockId+'", "autoClose": true}'
    )
      span.c-siteHeaderV2SecondaryBlock__picto.icon(class=iconClass)
      span.c-siteHeaderV2SecondaryBlock__text!=text + " "
      span.c-siteHeaderV2SecondaryBlock__icon.icon.icon-caret-bottom

    .c-siteHeaderV2SecondaryBlock__content(
      class=isRight
      data-e-toggle-target=blockId
    )
      block

