//- include ../headSection/headSection

mixin advantages(data)
  - var data       = data || {}
  - var nb         = data.nb || 4
  - var noLink     = data.noLink || false
  - var paragraphe = data.paragraphe || false
  - var content    = data.content || 'Lorem Elsass ipsum Gal ! chambon nüdle schpeck vulputate'
  - var title      = data.title || 'Lorem Elsass ipsum Gal ! chambon'
  - var linkItem   = data.linkItem || false


  // .c-advantages
  section.c-advantages.u-padding-spacer&attributes(attributes)
    //- +headSection({
    //-   paragraphe: paragraphe,
    //-   noLink: noLink
    //- })

    ul.c-advantages__group.l-wrapper--large
      - for (var i = 0; i <= nb-1; i++)
        if !linkItem
          li.c-advantages__item
            .c-advantages__itemBlock.c-advantages__itemBlock--img
              +advantagesItemVisu
            h3.c-advantages__text.c-advantages__text--title!=title
            
            .c-advantages__text.c-wysiwyg!=content
        else 
          li.c-advantages__item
            a(href="#").c-advantages__item__link
              .c-advantages__itemBlock
                +advantagesItem
              h3.c-advantages__text.c-advantages__text--title!=title
              
              .c-advantages__text.c-wysiwyg!=content

  // end .c-advantages


mixin advantagesItem(data)
  - var data      = data || {}
  - var classname = data.classname || 'icon-gaz'

  span.c-advantages__icon.icon(class=classname)

mixin advantagesItemVisu(data)
  - var data      = data || {}
  - var visu = data.visu || 'avantage-logo3.png'

  span.c-advantages__icon.icon
    img(src="../images/contrib/"+visu alt="")
