include ../../../../../common/src/components/btnWrap/btnWrap

mixin miniPush(data)

  - var data            = data                    || {}
  - var img             = data.img                || false
  - var theme           = data.theme              || false
  - var themeTitle      = data.themeTitle         || "Theme"
  - var title           = data.title              || "Titre"
  - var subTitle        = data.subTitle           || "subTitle"
  - var text            = data.text               || "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur beatae molestias facilis illo vero,"
  - var themeColor      = data.themeColor         || "genBlue"
  - var textColor       = data.textColor          || "u-color-black"
  - var imgSmall        = data.imgSmall           || 'textImage-small.jpg'
  - var imgLarge        = data.imgLarge           || 'push-fel-mobile.jpg'
  - var shadow          = data.shadow             || 'u-shadow'
  - var btn             = data.btn                || false
  - var btnTxt          = data.btnTxt             || "un button"
  - var themeTextColor  = data.themeTextColor     || "white"
  - var travauxTitle    = data.travauxTitle       || false
  - var travauxTitleimg = data.travauxTitleimg    || "menu-travaux.svg"
  - var imgMobile       = data.imgMobile          || false
  - var noWidth         = data.noWidth            || false
  - var noSubtitle      = data.noSubtitle         || false
  - var link            = data.link               || false
  - var nolink          = data.nolink           || false
  
  if !btn
    if !nolink
      a.c-miniPush(href="#")&attributes(attributes)
        .c-miniPush__content.u-radius(class=img?"c-miniPush__content--img" : "u-shadow" class=!img?"c-miniPush--minHeight" : " ").u-hideSmall
          .c-miniPush__block(class=textColor)
            if !themeTitle
              .c-miniPush__theme(class="c-miniPush__btn--"+themeColor)
                if travauxTitle
                  img.c-miniPush__travauxImg(src="../images/contrib/"+travauxTitleimg + "", alt="travaux")
                span!=themeTitle

            h2.u-textBold.c-miniPush__title!=title
              if noSubtitle
                br
                span.c-miniPush__subTitle!=subTitle
            .c-miniPush__text!=text

          +btnWrap.c-btnWrap--alignLeft
            +btn({
              text: btnTxt
            }).c-miniPush__btn(class="c-miniPush__btn--"+themeColor+" c-miniPush__textBtn--"+themeTextColor class=noWidth?"c-btn--noWidth" : " ")
        if img
          if imgMobile
            .c-miniPush__content.u-radius(class=img?"c-miniPush__content--img" : "u-shadow" class=imgMobile?"c-miniPush__imgMobile" : " " class=!img?"c-miniPush--minHeight" : " " ).u-hideMediumUp
              .c-miniPush__block(class=textColor)
                if !themeTitle
                  .c-miniPush__theme(class="c-miniPush__btn--"+themeColor)
                    if travauxTitle
                      img.c-miniPush__travauxImg(src="../images/contrib/"+travauxTitleimg + "", alt="travaux")
                    span!=themeTitle

                h2.u-textBold.c-miniPush__title!=title
                  if noSubtitle
                    br
                    span.c-miniPush__subTitle!=subTitle
                .c-miniPush__text!=text

              +btnWrap.c-btnWrap--alignLeft
                +btn({
                  text: btnTxt
                }).c-miniPush__btn(class="c-miniPush__btn--"+themeColor+" c-miniPush__textBtn--"+themeTextColor)
            +img({
              alt: "La description de mon image",
              interchange: {
                small: '../images/contrib/'+ imgSmall +'',
                medium769: '../images/contrib/'+ imgLarge +''
              }
            }).c-miniPush__img.u-radius(class=img?shadow : "")
          else
            +img({
              alt: "La description de mon image",
              interchange: {
                small: '../images/contrib/'+ imgSmall +'',
                medium769: '../images/contrib/'+ imgLarge +''
              }
            }).c-miniPush__img.u-radius(class=img?shadow : "").u-hideSmall
        //choix d'ajouter image en mode mobile
        if !imgMobile
          .c-miniPush__content.u-radius(class=img?"c-miniPush__content--img" : "u-shadow" style=img?"background:#00AAFF;" : "" class=!imgMobile?"c-miniPush--minHeight" : " ").u-hideMediumUp
            .c-miniPush__block(class=textColor)
              if !themeTitle
                .c-miniPush__theme(class="c-miniPush__btn--"+themeColor)
                  if travauxTitle
                    img.c-miniPush__travauxImg(src="../images/contrib/"+travauxTitleimg + "", alt="travaux")
                  span!=themeTitle

              h2.u-textBold.c-miniPush__title!=title
                if noSubtitle
                  br
                  span.c-miniPush__subTitle!=subTitle
              .c-miniPush__text!=text

            +btnWrap.c-btnWrap--alignLeft
              +btn({
                text: btnTxt
              }).c-miniPush__btn(class="c-miniPush__btn--"+themeColor+" c-miniPush__textBtn--"+themeTextColor)
        //end choix d'ajouter image en mode mobile
  
    
  if !btn
    if nolink
      .c-miniPush(href="#")&attributes(attributes)
        .c-miniPush__content.u-radius(class=img?"c-miniPush__content--img" : "u-shadow" class=!img?"c-miniPush--minHeight" : " ").u-hideSmall
          .c-miniPush__block(class=textColor)
            if !themeTitle
              .c-miniPush__theme(class="c-miniPush__btn--"+themeColor)
                if travauxTitle
                  img.c-miniPush__travauxImg(src="../images/contrib/"+travauxTitleimg + "", alt="travaux")
                span!=themeTitle

            h2.u-textBold.c-miniPush__title!=title
              if noSubtitle
                br
                span.c-miniPush__subTitle!=subTitle
            .c-miniPush__text!=text

          +btnWrap.c-btnWrap--alignLeft
            +btn({
              text: btnTxt
            }).c-miniPush__btn(class="c-miniPush__btn--"+themeColor+" c-miniPush__textBtn--"+themeTextColor class=noWidth?"c-btn--noWidth" : " ")
          if link
            a(href="#" alt="").c-miniPush--link.u-margin-t-20 Voir mon offre Gaz Tarif Réglementé
        if img
          if imgMobile
            .c-miniPush__content.u-radius(class=img?"c-miniPush__content--img" : "u-shadow" class=imgMobile?"c-miniPush__imgMobile" : " " class=!img?"c-miniPush--minHeight" : " " ).u-hideMediumUp
              .c-miniPush__block(class=textColor)
                if !themeTitle
                  .c-miniPush__theme(class="c-miniPush__btn--"+themeColor)
                    if travauxTitle
                      img.c-miniPush__travauxImg(src="../images/contrib/"+travauxTitleimg + "", alt="travaux")
                    span!=themeTitle

                h2.u-textBold.c-miniPush__title!=title
                  if noSubtitle
                    br
                    span.c-miniPush__subTitle!=subTitle
                .c-miniPush__text!=text

              +btnWrap.c-btnWrap--alignLeft
                +btn({
                  text: btnTxt
                }).c-miniPush__btn(class="c-miniPush__btn--"+themeColor+" c-miniPush__textBtn--"+themeTextColor)
            +img({
              alt: "La description de mon image",
              interchange: {
                small: '../images/contrib/'+ imgSmall +'',
                medium769: '../images/contrib/'+ imgLarge +''
              }
            }).c-miniPush__img.u-radius(class=img?shadow : "")
          else
            +img({
              alt: "La description de mon image",
              interchange: {
                small: '../images/contrib/'+ imgSmall +'',
                medium769: '../images/contrib/'+ imgLarge +''
              }
            }).c-miniPush__img.u-radius(class=img?shadow : "").u-hideSmall
        //choix d'ajouter image en mode mobile
        if !imgMobile
          .c-miniPush__content.u-radius(class=img?"c-miniPush__content--img" : "u-shadow" style=img?"background:white;" : "" class=!imgMobile?"c-miniPush--minHeight" : " ").u-hideMediumUp
            .c-miniPush__block(class=textColor)
              if !themeTitle
                .c-miniPush__theme(class="c-miniPush__btn--"+themeColor)
                  if travauxTitle
                    img.c-miniPush__travauxImg(src="../images/contrib/"+travauxTitleimg + "", alt="travaux")
                  span!=themeTitle

              h2.u-textBold.c-miniPush__title!=title
                if noSubtitle
                  br
                  span.c-miniPush__subTitle!=subTitle
              .c-miniPush__text!=text

            +btnWrap.c-btnWrap--alignLeft
              +btn({
                text: btnTxt
              }).c-miniPush__btn(class="c-miniPush__btn--"+themeColor+" c-miniPush__textBtn--"+themeTextColor)
            if link
              a(href="#" alt="").u-margin-small-t-20.c-miniPush--link Voir mon offre Gaz Tarif Réglementé
        //end choix d'ajouter image en mode mobile
  
  
  else
    .c-miniPush&attributes(attributes)
      .l-wrapper--large
        .c-miniPush__content.u-padding-a-110(class=img?"c-miniPush__content--img c-miniPush__content--imgNoBtn" : "u-shadow" class=!img?"c-miniPush--minHeight" : " ")
          .c-miniPush__block(class=textColor)
            .c-miniPush__theme(class="c-miniPush__btn--"+themeColor)!=themeTitle
            h2.u-textBold.c-miniPush__title.c-miniPush--font-size!=title
              if noSubtitle
                br
                span.c-miniPush__subTitle!=subTitle
            .c-miniPush__text!=text

      if img
        +img({
          alt: "La description de mon image",
          interchange: {
            small: '../images/contrib/'+ imgSmall +'',
            medium769: '../images/contrib/'+ imgLarge +''
          }
        }).c-miniPush__img.c-miniPush--ajustBanner