mixin toolTipV2(data)
  - var data        = data || {}
  - var target      = data.target || false
  - var valignMid   = data.valignMid || false
  - var labelText   = data.labelText || false
  - var labelClass  = data.labelClass || ''
  - var info        = data.info || false
  - var themeColor  = data.themeColor || false
  - var modalTarget = data.modalTarget || false
  - var icon        = data.icon || false

    //- La var modalTarget sert dans les cas pour lesquels le toolTipV2 ouvre une modal au clic (voir composant modal)

  // .c-toolTipV2
  if target
    a.c-toolTipV2(
      class=themeColor
      class=valignMid ? 'c-toolTipV2--valignMid' : ''
      class=info ? 'c-toolTipV2--info' : ''
      href=target
      data-e-modal-open=modalTarget
    )&attributes(attributes)
      if labelText
        span.c-toolTipV2__label(class=labelClass)!=labelText

      if info
        span.c-toolTipV2__icon i
      else
        span.c-toolTipV2__icon 
  else
    button.c-toolTipV2(
      type="button"
      class=themeColor
      class=valignMid ? 'c-toolTipV2--valignMid' : ''
      data-e-modal-open=modalTarget
    )&attributes(attributes)
      if labelText
        span.c-toolTipV2__label(class=labelClass)!= labelText

      if info
        span.c-toolTipV2__icon i
      else if icon
        span.c-toolTipV2--icon.icon-question-circleDS.icon
      else
        span.c-toolTipV2__icon.icon.icon-question-circleDS
  // END .c-toolTipV2
