mixin listChoiceButton(data)
  - var data       = data || {}
  - var iconName   = data.iconName || false
  - var title      = data.title || "Sophie Laroche"
  - var text       = data.text || "Référence client : 24568512<br/>Adresse de facturation : 24 rue de la Tour Maubourg, 75015 PARIS"
  - var colorTitle = data.colorTitle || false
  - var isLink     = data.isLink || false
  - var isInactive = data.isInactive || false


  // c-listChoiceButton
  if isLink
    a(href="#").c-listChoiceButton&attributes(attributes)
      .c-listChoiceButton__main
        if iconName
          span.c-listChoiceButton__icon.icon(class=iconName)
        strong.c-listChoiceButton__title(class=colorTitle ? "c-listChoiceButton--themeColor" : "")=title
        .u-fontSize-small!=text

  else if isInactive
    .c-listChoiceButton.c-listChoiceButton--inactive&attributes(attributes)
      .c-listChoiceButton__main
        if iconName
          span.c-listChoiceButton__icon.icon(class=iconName)
        strong.c-listChoiceButton__title(class=colorTitle ? "c-listChoiceButton--themeColor" : "")=title
        .u-fontSize-small!=text

      if block
        .c-listChoiceButton__aside
          block

  else
    button(type="button").c-listChoiceButton&attributes(attributes)
      if iconName
        span.c-listChoiceButton__icon.icon(class=iconName)
      strong.c-listChoiceButton__title(class=colorTitle ? "c-listChoiceButton--themeColor" : "")=title
      .u-fontSize-small!=text
  // end c-listChoiceButton
