mixin toolTip(data)
  - var data        = data || {}
  - var target      = data.target || false
  - var valignMid   = data.valignMid || false
  - var labelText   = data.labelText || false
  - var labelClass  = data.labelClass || ''
  - var info        = data.info || false
  - var themeColor  = data.themeColor || false
  - var modalTarget = data.modalTarget || false
  - var title       = data.title || false

    //- La var modalTarget sert dans les cas pour lesquels le toolTip ouvre une modal au clic (voir composant modal)

  // .c-toolTip
  if target
    a.c-toolTip(
      class=themeColor
      class=valignMid ? 'c-toolTip--valignMid' : ''
      class=info ? 'c-toolTip--info' : ''
      href=target
      data-e-modal-open=modalTarget
    )&attributes(attributes)
      if labelText
        span.c-toolTip__label(class=labelClass)!=labelText

      if info
        span(title=title).c-toolTip__icon.u-theme-bg.u-theme-bg-hover i
      else
        span(title=title).c-toolTip__icon.u-theme-bg.u-theme-bg-hover ?
  else
    button.c-toolTip(
      type="button"
      class=themeColor
      class=valignMid ? 'c-toolTip--valignMid' : ''
      data-e-modal-open=modalTarget
    )&attributes(attributes)
      if labelText
        span.c-toolTip__label(class=labelClass)!= labelText

      if info
        span(title=title).c-toolTip__icon.u-theme-bg.u-theme-bg-hover i
      else
        span(title=title).c-toolTip__icon.u-theme-bg.u-theme-bg-hover ?
  // END .c-toolTip
