mixin mesFactureInfo(data)
  - var data             = data || {}
  - var info             = data.info || false
  - var txtInfo          = data.txtInfo || "Lorem"
  - var txt              = data.txt  || "Ma derniére "
  - var date             = data.date || "12/01/2019" 
  - var prix             = data.prix || "120€"
  - var statut           = data.statut || "En attente*"   
  - var desc             = data.desc || "Règlement e-TIP, prélèvement prévu le 17/12/2018 Deuxième ligne en prévision d’un message plus long ligne n°2"
  - var theme            = data.theme || "u-bg-blue"
  - var error            = data.error || false    

  //.c-mesFactureInfo
  .c-mesFactureInfo(class=info?"c-mesFactureInfo__facture" : "c-mesFactureInfo__paiement")
    .c-mesFactureInfo__title!=txt
      strong!=txtInfo
      if !error
        |  du 
        span.u-textBold!=date
    
    if !error
      .c-mesFactureInfo__price
        .c-mesFactureInfo__prix!=prix 
          sup TTC 
            sup *
        if !info
          .c-mesFactureInfo__typeOf Par paiement en ligne
      .c-mesFactureInfo__desc
        span.c-mesFactureInfo__libele(class=theme)!=statut
        span.c-mesFactureInfo__explication!=desc
      if info
        .c-mesFactureInfo__picto
          a.icon.icon-lampe-facture(href="#").u-hideMediumDown
            span Comprendre
          a.icon.icon-visualiser-facture(href="#")
            span Consulter
          a.icon.icon-imprimer-facture(href="#")
            span Imprimer
          a.icon.icon-telechargement-facture(href="#")
            span Télécharger
    
    else
      .c-mesFactureInfo__iconError.icon(class=info?"icon-pictos_paiement" : "icon-pictos_facture")
      .c-mesFactureInfo__factureError Vous n'avez pas de factures
      .c-mesFactureInfo__descspan lorum epsum lorum epsum lorum epsum epsum. lorum epsum lorum epsum lorum lorum epsum epsum. 
      