include ../../formMat/checkboxMat/checkboxMat

mixin itemOption(data)

  - var data = data || {}
  - var val = data.val || "option1"
  - var promo = data.promo || false
  - var title = data.title || "Titre"
  - var text = data.text || "Lorem ipsum dolor sit, amet consectetur adipisicing elit."
  - var tarif = data.tarif || "Gratuit"
  
  .c-itemOption&attributes(attributes)    
      .c-itemOption__content
        if promo
          img(alt="" src="../images/contrib/picto-gratuit.png").c-itemOption__imgPromo
        
        h3.c-itemOption__title.u-heading-3!=title

        p.c-itemOption__text!=text

        .c-itemOption__price 
          strong!=tarif

        a(href="#").c-itemOption__info En savoir plus

      span.c-checkboxMat.c-itemOption__checkbox.u-theme-green
        input.c-checkboxMat__field(type="checkbox" id=val name=val value="checkbox value")
        label.c-checkboxMat__label(for=val)
          span(class="c-checkboxMat__check u-theme-bg u-theme-color")
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="9 14 30 30" width="30" height="30">
              <path fill="none" d="M14 27.2l7 7 12-12"></path>
            </svg>
        img(src="../images/contrib/TEL-sans-conso_03.jpg" alt="").c-itemOption__img
        .c-itemOption__border
          
      
        .c-itemOption__infoState
          .l-wrapper
            b.c-itemOption__infoState_off Cochez pour activer cette option
            b.c-itemOption__infoState_on Option activée
        
        


