include ../../../../common/src/components/siteFooter/siteFooter

//---------------------------
//- Global template variables
//---------------------------
block variables

- if (typeof bodyClass === "undefined")        bodyClass = ""
- if (typeof title === "undefined")            title = ""
- if (typeof page === "undefined")             page = ""
- if (typeof description === "undefined")      description = ""
- if (typeof localhostCommon  === "undefined") localhostCommon = ".."
- if (typeof noHeaderFooter   === "undefined") noHeaderFooter = false


doctype html
<!--[if IE 8]><html data-debug lang="fr" class="oldie ie8 no-js"><![endif]-->
<!--[if IE 9]><html data-debug lang="fr" class="oldie ie9 no-js"><![endif]-->
<!--[if !IE]><!-->
html(data-debug lang="fr" class="no-js")
  <!--<![endif]-->
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name="format-detection" content="telephone=no")
    meta(name='description' content=description)
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")

    title=title

    block CSS

    link(rel="apple-touch-icon-precomposed" sizes="144x144" href=localhostCommon+"/images/favicon/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href=localhostCommon+"/images/favicon/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href=localhostCommon+"/images/favicon/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" href=localhostCommon+"/images/favicon/apple-touch-icon-57x57.png")
    link(rel="shortcut icon" href=localhostCommon+"/images/favicon/favicon.ico")

    script(src="https://cdn.jsdelivr.net/modernizr/3.3.1/modernizr.min.js")
    script(src="http://code.jquery.com/jquery-2.1.3.min.js")

  body(class=bodyClass)
    block content

    block JS
