mixin offerPromo(data)
  - var data    = data || {}
  - var noArrow = data.noArrow || false
  - var select  = data.select || false
  - var title   = data.title || "Promo"
  - var text    = data.text || "100€ <sup>TTC</sup> offerts en bon d'achat"

  // c-offerPromo
  if select
    button.c-offerPromo(
      type="button"
      class=select? "c-offerPromo--select" : ""
    )
      span.c-offerPromo--select__wrapper
        span.c-offerPromo__title
          span=title
        span.c-offerPromo__detail!=text
  else
    .c-offerPromo( class=noArrow? "c-offerPromo--noArrow" : "" )
      .c-offerPromo__title
        span=title
      .c-offerPromo__detail!=text
  // END c-offerPromo