mixin input(data)
  - var data        = data || {}
  - var id          = data.id || "mycheckbox"
  - var name        = data.name || id
  - var type        = data.type || "text"
  - var placeholder = data.placeholder || false
  - var pattern     = data.pattern || false
  - var maxlength   = data.maxlength || false

  input.c-input(
    type=type
    id=id
    name=name
    placeholder=placeholder
    pattern=pattern
    maxlength=maxlength
  )&attributes(attributes)