include ../../../../common/src/components/img/img
mixin tmpChauf(data)
  - var data			= data || {}
  - var titre = data.titre || "Eco-programmation du chauffage"
  - var para = data.para || "Calculez vos économies en adaptant la température de votre logement, tout en conservant votre niveau de confort."
  - var btn = data.btn || "J'optimise"
  - var full = data.full || false
  - var progChauff = data.progChauff || false
  - var ecoGest = data.ecoGest || false

  //.c-tmpChauf
  .c-tmpChauf(class=full ? "c-tmpChauf__full" : "" class=progChauff ? "c-tmpChauf__progChauff" : "" class=ecoGest ? "c-tmpChauf__ecoGest" : "")
    .c-tmpChauf__left
      .c-tmpChauf__title!=titre
      p.c-tmpChauf__para!=para
      +btnWrapper().u-margin-small-t-40.u-theme-genBlue.c-btnWrapper--alignLeft.c-tmpChauf--btn
        +baseBtn({
          text: btn,
          button: true
        })