mixin radioSwitchMat(data)
  - var data   = data || {}
  - var label1 = data.label1 || "Lorem ipsum"
  - var label2 = data.label2 || "Lorem ipsum"
  - var id1    = data.id1 || false
  - var id2    = data.id2 || false
  - var name   = data.name || false

  // .c-radioSwitchMat
  span.c-radioSwitchMat&attributes(attributes)
    input.c-radioSwitchMat__field(
      type="radio"
      id=id1
      name=name
      checked
    )
    label.c-radioSwitchMat__label.c-radioSwitchMat__label--left(for=id1)
      span.c-radioSwitchMat__radio
      span.c-radioSwitchMat__text!=label1

    input.c-radioSwitchMat__field(
      type="radio"
      id=id2
      name=name
    )
    label.c-radioSwitchMat__label.c-radioSwitchMat__label--right(for=id2)
      span.c-radioSwitchMat__radio
      span.c-radioSwitchMat__text!=label2
  // end .c-radioSwitchMat
