include ../fieldInfo/fieldInfo

mixin moreLessInput(data)
  - var data       = data || {}
  - var settings   = data.settings || {}
  - var labelText  = data.labelText || "Nombre d'occupants"
  - var inputID    = data.inputID || "nbrPerson"
  - var inputValue = data.inputValue || "1"
  - var hiddenPlus = data.hiddenPlus || false
  - var blockRight = data.blockRight || false

  //- settings sert à passer au composant une valeur minimale, une valeur maximale, le pas (step) d'incrémentation / décrémentation, et errorMsg un message d'erreur tous optionnels

  // .c-moreLessInput
  .c-moreLessInput(
    data-e-more-lessinput=settings
    data-e-field-validation
  )&attributes(attributes)
    button(type="button").c-moreLessInput__button.c-moreLessInput__button--minus.u-theme-bg-hover -
      span.u-visibilityHidden Réduire

    .c-moreLessInput__wrapper
      label.c-moreLessInput__label.u-visibilityHidden(for=inputID)=labelText
      input.c-moreLessInput__input(
        id=inputID
        name=inputID
        type="tel"
        value=inputValue
      ).u-theme-color

      if hiddenPlus
        sup.c-moreLessInput__sup.u-theme-color.u-hide +
      if blockRight
        .c-moreLessInput__blockRight.u-theme-color!=blockRight

    button(type="button").c-moreLessInput__button.c-moreLessInput__button--plus.u-theme-bg-hover +
      span.u-visibilityHidden Augmenter

    +fieldInfo({
      noDemo: true,
      input: true
    })(data-e-field-validation-error)
  // end .c-moreLessInput