//-
  block qui affiche 3 états
  message : "succes" || "error" || "warn"
  message en vert, rouge ou orange


mixin fieldInfo(data)
  - var data    = data || {}
  - var input   = data.input || false
  - var message = data.message || undifined
  - var icon    = data.icon || false
  - var noDemo  = data.noDemo || false
  - var backgroundColor = data.backgroundColor || "u-bg-grey-light"

  //- error | valid | orange
  - var typeMessage = data.typeMessage || false

  if (input)
    ul.c-fieldInfo.c-fieldInfo--inputMat(
      class=typeMessage ? 'is-'+ typeMessage : ''
    )&attributes(attributes)
      if !noDemo
        li!=message

  else
    .c-fieldInfo.u-textCenter.u-textBold(
      class=typeMessage ? 'is-'+ typeMessage : ''
      class=backgroundColor
    )&attributes(attributes)
      if (icon)
        .icon(class=icon).u-heading-2
      block

mixin fieldInfoWarning 
  //.c-fieldInfoWarning
  .c-fieldInfoWarning
    .c-fieldInfoWarning__title Message important
    .c-fieldInfoWarning__content Les tarifs réglementés de gaz naturel vont prendre fin : retrouvez toutes les informations sur la fin des taris réglementés <a href="">ici</a>.

mixin fieldInfoWarningV2
  //.c-fieldInfoWarningV2
  .c-fieldInfoWarningV2
    .c-fieldInfoWarningV2__title Message important
    .c-fieldInfoWarningV2__content Les tarifs réglementés de gaz naturel vont prendre fin : retrouvez toutes les informations sur la fin des taris réglementés <a href="">ici</a>.

mixin fieldInfoWarningV3
  //.c-fieldInfoWarningV3
  .c-fieldInfoWarningV3&attributes(attributes)
    .icon.icon-warning-cercle
    .c-fieldInfoWarningV3__content Cet IBAN n’est plus valide, veuillez en renseigner un nouveau
