include ../headSection/headSection
include ../carousel/carousel
include ../blockquote/blockquote
include ../textImage/textImage

mixin tabs(data)
  - var data = data || {}
  - var title = data.title || false
  -
    var array = [
      {
        label: "L’offre Elec Ajust",
        id: "panel1"
      },
      {
        label: "L’option Dépannage Eau et Électricité Express",
        id: "panel2"
      },
      {
        label: "Le service M@ Relève",
        id: "panel3"
      },
      {
        label: "Notre offre électricité innovante&nbsp;: Linky",
        id: "panel4"
      }
    ]

  // .c-tabs
  section.c-tabs.u-padding-t-spacer(data-e-tabs='{"autoplay": false, "autoplaySpeed": 2000}')&attributes(attributes)
    if title
      +headSection({
        noLink: true,
        title: title
      })

    ul.c-tabs__nav.u-hideSmall(aria-hidden="true")
      each obj in array
        li.c-tabs__links
          a(
            href="#"+obj.id
            data-e-tabs-link)!=obj.label

    +carousel({
        id: 'carouselTabs',
        delayed: true,
        settings: {
          infinite: false,
          mobileFirst: true,
          arrows: true,
          dots: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          centerMode: true,
          centerPadding: '10%'
        }
      }).c-tabs__pannels

      +tabs-panel({
        label: array[0].label,
        id: array[0].id
      })
        +blockquote
          p gfdsf dsfds fsdf dsf dsfds fdssf

      +tabs-panel({
        label: array[1].label,
        id: array[1].id
      })
        +textImage

      +tabs-panel({
        label: array[2].label,
        id: array[2].id
      })
        +textImage

      +tabs-panel({
        label: array[3].label,
        id: array[3].id
      })
        +textImage({
          video: "https://www.youtube.com/embed/twRChpWgjJ0"
        })
  // end .c-tabs


mixin tabs-panel(data)
  - var data = data || {}
  - var label = data.label || "xxx"
  - var id = data.id || "xxx"

  // .c-tabs__panel
  .c-tabs__panel(id=id data-e-tabs-panel)
    .c-tabs__header
      h2.c-tabs__title!=label

    .c-tabs__content
      block
  // end .c-tabs__pannel


mixin tabs-unstyled(data)
  - var data = data || {}
  - var options = data.options || {}
  -
    var array = data.array || [
      {
        label: "Onglet 1",
        id: "panel1"
      },
      {
        label: "L’option Dépannage Eau et Électricité Express",
        id: "panel2"
      }
    ]

  // .c-tabs
  section(data-e-tabs=options)&attributes(attributes)
    ul
      each obj in array
        li
          a(
            href="#"+obj.id
            data-e-tabs-link)!=obj.label

    div
      +tabs-unstyled-panel({
        label: array[0].label,
        id: array[0].id
      })
        +blockquote
          p gfdsf dsfds fsdf dsf dsfds fdssf

      +tabs-unstyled-panel({
        label: array[1].label,
        id: array[1].id
      })
        +textImage
  // end .c-tabs


mixin tabs-unstyled-panel(data)
  - var data = data || {}
  - var label = data.label || "xxx"
  - var id = data.id || "xxx"

  // .c-tabs__panel
  div(id=id data-e-tabs-panel)
    div
      block
  // end .c-tabs__pannel
