include loginHighlight/loginHighlight
include loginAccess/loginAccess
include loginInfo/loginInfo


mixin login(mode, loader)
  // .c-login
  .c-login
    .c-login__content(data-ab-interchange=`
        [empty.bg, default],
        [../images/contrib/fond-login.png, medium]
      `)
      if mode === "disconnected"
        +loginDisconnect(loader)
        +loginInfo()
      if mode === "logged"
        +loginLogged
        +loginInfo()
      if mode === "loginNoAccount"
        +loginNoAccount
        +loginInfo()
  // end .c-login


mixin loginDisconnect(loader)
  .c-login__access
    section.c-login__tabs(data-e-switch-toggle-name="switchPanel" aria-hidden="false")
      .u-textRight.u-padding-r-10.u-padding-t-10
        +toolTip({
          themeColor: 'u-theme-magenta'
        })(data-e-modal-open='modal2')
        +modal({
            target: '{"target": "modal2"}'
          }).u-padding-a-40
            ul.u-margin-b-40
              li
                a(href='#') liens 1
              li
                a(href='#') liens 2
            p Astuce : il me suffit de cocher la case "Se souvenir de moi" pour que mon adresse e-mail soit
              | renseignée automatiquement lors de mes prochaines connexions.

      h1.u-heading-1.u-padding-b-10.u-padding-h-40 Connexion à l’Espace Client

      .l-wrapper--medium.u-bg-grey-light.u-textCenter.u-padding-v-15.u-margin-t-10
        p
          strong Vous n’avez pas encore d’Espace Client ?
        p
          button.u-buttonReset.u-link.u-link--revert.u-color-genBlue(type="button" data-e-switch-toggle="switchPanel") Créez votre compte

      +formMat()(
        action="/"
        novalidate
        method="POST"
        data-e-form-validation='{"switchBtnState": false}'
      ).c-formMat.u-margin-b-40
        .c-login__inputs
          +inputMat({
            label: "Adresse e-mail",
            type: "email",
            id: "login",
            pattern: true,
            name: "email",
            required: true,
            placeholder: 'ex: Martin@gmail.com',
            dataValidation: {
              validations: {
                patternMismatch: "format de l'adresse mail non valide",
                valueMissing: 'champs obligatoire'
              }
            }
          })

          +inputMat({
            label: "Mot de passe",
            type: "password",
            id: "password",
            name: "password",
            required: true,
            placeholder: 'Votre mot de passe',
            dataValidation: {
              validations: {
                valueMissing: 'champsss obligatoire'
              }
            }
          })(
              data-e-field-validation='{"validations": {"valueMissing": "champssssssss obligatoire"}}')

          .u-margin-t-30.u-margin-small-t-20.u-textLeft
            +checkboxMat({
              label: 'Rester connecté',
              id: "checkboxMat"
            }).u-theme-magenta

        div
          .c-login__btnWrapper
            +btnWrapper().u-theme-green.c-btnWrapper--fullOnMobile
              +baseBtn({
                text: 'Me connecter',
                button: true,
                submit: true,
                hasLoader: true
              })(data-e-form-validation-submit).c-baseBtn--large.c-baseBtn--hasLoader.u-margin-b-10

          p.u-margin-small-t-20
            a.u-link.u-link--revert.u-fontSize-tiny.u-color-genBlue(href="#") Identifiant ou mot de passe oublié

      +separatorOu({
        text:"Ou connectez-vous avec"
      }).u-margin-h-30

      .c-login__contentWrapper
        .c-login__btnWrapper.u-margin-b-20
          +socialBtn({
            text: 'Facebook'
          })
          +socialBtn({
            text: 'Google',
            social: 'google'
          })

      +spinner().c-spinner--full(class=loader?'':'u-hide')


    section.c-login__tabs(data-e-switch-toggle-name="switchPanel" aria-hidden="true" hidden)
      .u-textRight.u-padding-r-10.u-padding-t-10
        +toolTip({
          themeColor: 'u-theme-magenta'
        })(data-e-modal-open='modal')
        +modal({
            target: '{"target": "modal"}'
          }).u-padding-a-40
            ul.u-margin-b-40
              li
                a(href='#') liens 3
              li
                a(href='#') liens 4
            p Astuce : il me suffit de cocher la case "Se souvenir de moi" pour que mon adresse e-mail soit
              | renseignée automatiquement lors de mes prochaines connexions.

      h1.u-heading-1.u-padding-b-20.u-padding-h-40 Créer un compte

      .c-login__contentWrapper.u-padding-b-30
        .c-login__btnWrapper
          +btnWrapper().u-theme-green
            +baseBtn({
              text: 'Utiliser mon adresse mail'
            })

        +separatorOu

        .c-login__contentWrapper
          .c-login__btnWrapper
            +socialBtn({
              text: 'Facebook'
            })
            +socialBtn({
              text: 'Google',
              social: 'google'
            })


        +loginHighlight().u-margin-b-40

        .l-wrapper--medium.u-bg-grey-light.u-textCenter.u-padding-v-20.u-margin-t-10
          p
            strong Vous possédez déjà un compte ?
          p
            button.u-buttonReset.u-link.u-link--revert.u-color-genBlue(type="button" data-e-switch-toggle="switchPanel") Se connecter

        +spinner().c-spinner--full(class=loader?'':'u-hide')
// end - disconnected


mixin loginLogged()
  .c-login__access.c-login__access--logged.u-padding-b-20
    h2.u-heading-2.u-padding-t-40.u-padding-h-40 Bonjour, Madame Blanche Neige

    .c-login__contentWrapper.c-login__contentWrapper--verticalSpace
      p.u-margin-b-10
        | Titulaire du contrat&nbsp;:
        br
        strong MR Pascal NGUYEN

      p.u-margin-b-20
        | Référence client&nbsp;:
        br
        strong 210652102

      .c-login__btnWrapper.c-login__btnWrapper--larger.u-margin-b-20
        +btnWrapper().u-theme-magenta
          +baseBtn({
            text: 'Autre référence'
          })

      +loginAccess


mixin loginNoAccount()
  .c-login__access.c-login__access--logged.u-padding-b-20
    h2.u-heading-2.u-padding-v-40.u-padding-h-40 Bonjour, Madame Cendrillon

    .icon.icon-compte-bloque.u-color-greyMedium2.u-fontSize-120.u-margin-t-50.u-margin-small-t-40.u-margin-b-20

    .c-login__contentWrapper.c-login__contentWrapper--verticalSpace
      p.u-margin-b-40
        | Vous n'avez pas d'Espace Privé séléctionné
        br
        | Veuiller en sélectionnez un

      .c-login__btnWrapper.c-login__btnWrapper--larger
        +btnWrapper().u-theme-magenta
          +baseBtn({
            text: 'Séléctionner votre espace client'
          })
