mixin headerLight(data)
  - var data          = data || {}
  - var finalMessage  = data.finalMessage || false
  - var floatingModal = data.floatingModal || false

  // c-headerLight
  header.c-headerLight(data-e-sticky-header)
    // Sprites SVG
    include ../../../../common/src/assets/sprites-common.svg
    // end Sprites SVG

    h1.c-headerLight__logo
      a.c-headerLight__logoLink(
        href="/"
        title="Accueil"
        data-e-toggle=floatingModal ? '{"target": "headerLightLogoLayer", "autoClose": true, "blockScroll": true}' : false
      )
        .c-siteHeader__logoImg
          img(
            src='../images/logo-engie.svg'
            alt="Gaz Tarif Réglementé, fournisseur de gaz naturel et de services à l’énergie"
            width='110'
            )
      if floatingModal
        +floatingModalArrow({
          target: 'headerLightLogoLayer',
          arrow: 'TL'
        })
          .c-floatingModal__headingBlock
            h2.c-floatingModal__heading-1.u-textCenter.u-theme-color Vous nous quittez déjà...
          .u-textLeft.u-margin-t-15
            p <b>Souhaitez-vous recevoir un mail</b> pour reprendre plus tard à cette étape ?
            +inputMat({
              type : 'email',
              label: 'Email',
              placeholder: '',
              name: 'email',
              floating: true
            })(data-e-float-label).c-inputMat--float
          +btnWrapper().c-btnWrapper--fullOnDesktop.u-margin-t-20.u-theme-jadeGreen
            +baseBtn({
              text: "Oui j'enregistre",
              button: true
            }).c-baseBtn--large(data-e-toggle-close=target)
            +baseBtn({
              text: "Non je vais sur le site",
              secondary: true
            }).c-baseBtn--large

    if finalMessage
      .c-headerLight__conclusionMsg.u-color-genBlue
        b.u-hideMediumUp Confirmation de votre demande
        b.u-hideSmall Votre demande a bien été prise en compte
  // end c-headerLight
