mixin carousel(data)
  - var data      = data || {}
  - var id        = data.id || false
  - var mode      = data.mode ? "c-carousel--"+ data.mode: false
  - var delayed   = data.delayed || false
  - var home      = data.home || false
  - var settings  = data.settings || ""
  - var singleNav = data.singleNav || false

  // .c-carousel
  .c-carousel(
      id=id
      data-slick=!(delayed || home) ? settings : false
      data-slick-delayed=delayed ? settings : false
      data-slick-home=home ? settings : false
      data-slick-singlenav=singleNav
      class=mode
    )&attributes(attributes)

    block

  if singleNav
    .c-carouselNav(data-slick-nav class=singleNav)
      .c-carouselNav__wrapper
        .c-carouselNav__arrows(data-slick-arrows)
        .c-carouselNav__dots(data-slick-dots)
  // end .c-carousel
