mixin shareArticle(data)
  - var data = data || {}
  - var label = data.label || false

  // .c-shareArticle
  .c-shareArticle&attributes(attributes)
    if label
      p.c-shareArticle__label!=label
    .c-shareArticle__wrapper
      block
  // END .c-shareArticle


mixin shareArticleLink(data)
  - var data = data || {}
  - var iconName = data.iconName || 'icon-facebook'
  - var text = data.text || 'Facebook'
  - var type = data.type || 'facebook'
  - var url = '#'

  case type
    when 'facebook'
      - url = "https://www.facebook.com/sharer/sharer.php?u=http://google.fr"
    when 'twitter'
      - url = "https://twitter.com/intent/tweet?url=http://google.fr&text=Hello%20world&via=&hashtags="
    when 'google'
      - url = "https://plus.google.com/share?url=http://google.com"

  a.c-shareArticleLink(
    href=url
    data-e-popup="popup"
  )
    span.c-shareArticleLink__icon.icon(class=iconName)
    span.c-shareArticleLink__text.u-visibilityHidden=text
