include ../../../../common/src/components/modal/modal

mixin calculetteV2(data)
  - var data = data || {}
  - var targetModal = data.targetModal || 'calcule'
  - var targetModalLink = data.targetModalLink || 'link'
  - var theme = data.theme || "printemps"

  //.c-calculetteV2
  .c-calculetteV2.js-calculette( class="c-calculetteV2__theme-"+theme)&attributes(attributes)
    .c-calculetteV2__left
      .c-calculetteV2__title Estimez votre consommation de Gaz Naturel en euros
      p.c-calculetteV2__para Vous souhaitez connaître la valorisation en euros de votre conso sur une période donnée ? C’est simple, indiquez vos index de départ et de fin relevé sur votre compteur.
    .c-calculetteV2__right
      .c-calculetteV2__modal
        +toolTipV2({
            themeColor: 'u-theme-magenta',
            icon : true
        })(data-e-modal-open=targetModal)

        +modal({
          theme : "genBlue",
          closeTheme : true,
          icon : "icon-info-circleDS",
          target: '{"target":"' + targetModal +'"}'
        }).u-padding-a-40
          p Cet index correspond au dernier index relevé par le distributeur. Vous pouvez le modifier à votre guise.
          p L'index de fin est celui que vous relevez sur votre compteur. Il permet d'estimer votre consommation et de la valoriser en euros.

      +formMat()(
        action="/"
        novalidate
        method="POST"
        data-e-form-validation='{"switchBtnState": true}'
      )

        +inputMat({
            type: "tel",
            id: "indexDebut",
            name: "indexDebut",
            pattern: '^[0-9]*$',
            label: 'Index de départ',
            textRight: "m<sup>3</sup>",
            required: true,
            placeholder: 'Ex: 25 000',
            maxlength: 5,
            minlength: 5,
            dataValidation: {
            typing : true,
            validations: {
                patternMismatch: "Vous devez saisir une suite de 5 chiffres.",
                valueMissing: 'champs obligatoire',
                tooShort: 'Vous devez saisir une suite de 5 chiffres.'
            }
            }
        }).c-calculetteV2--label.js-indexDebut

        +inputMat({
          type: "tel",
          id: "indexFin",
          name: "indexFin",
          pattern: '^[0-9]*$',
          label: "Index de fin",
          textRight: "m<sup>3</sup>",
          required: true,
          placeholder: 'Ex: 00 000',
          maxlength: 6,
          minlength: 5,
          dataValidation: {
            typing : true,
            validations: {
                patternMismatch: "Vous devez saisir une suite de 5 chiffres.",
                valueMissing: 'champs obligatoire',
                tooShort: 'Vous devez saisir une suite de 5 chiffres.'
            }
          }
        }).c-calculetteV2--label.c-calculette--tooltipColer.js-indexFin
        
        .c-fieldInfo.is-error.u-hide.js-calculetteError(id="calculetteError" class="u-hide") index de Départ supérieur à l'index de fin
        
        +btnWrapper.u-theme-genBlue.c-btnWrapper--fullOnMobile.c-calculette--espacementMobile
            +baseBtn({
            text: 'Estimer ma consommation',
            button: true,
            hasLoader: true,
            submit: true
            })(
              data-e-form-validation-submit 
              disabled
              data-e-form-validation-calculer

            ).c-baseBtn--large.u-margin-t-30.is-disabled
        
        span(data-e-modal-open=targetModalLink).c-calculetteV2--link Où trouver mon index ?
        +modal({
          target: '{"target":"' + targetModalLink +'"}'
        }).u-padding-a-40
          h2.u-textBold.u-fontSize-huge.u-textCenter.u-margin-small-t-30 Les 5 premiers chiffres sur votre compteur correspondent à votre <span class="u-color-genBlue"> index en m<sup>3</sup> <span>
          .c-calculetteV2__modalImage.u-margin-v-50.u-margin-small-v-50
            img(src="../images/contrib/index.jpg" alt="compteur index")
          
          +btnWrapper.u-theme-genBlue
            +baseBtn({
              text: "J'ai compris",
              button: true,
            })(data-e-modal-close)

  .c-calculetteV2__result
    .l-wrapper--medium
      span.c-calculetteV2__estim Mon estimation <span> de consommation </span> <span class="c-calculetteV2--inLine"> est de </span> 
        span.c-calculetteV2__nbr.u-color-genBlue 367,47 €
      .c-calculetteV2__date Au tarif du mois d’octobre 2021
      .c-calculetteV2__table 
        .c-calculetteV2__tr
          .c-calculetteV2__td Ma consommation 
          .c-calculetteV2__td Coefficient de conversion
          .c-calculetteV2__td Nombre de kWh
          .c-calculetteV2__td Prix du kWh
        .c-calculetteV2__tr.u-textBold
          .c-calculetteV2__td 572
          .c-calculetteV2__td 11,2
          .c-calculetteV2__td 6 349,20
          .c-calculetteV2__td 0,057876
        .c-calculetteV2__tr
          .c-calculetteV2__td m³
          .c-calculetteV2__td kWh / m³
          .c-calculetteV2__td kWh
          .c-calculetteV2__td €
      p.c-calculetteV2__descPara Cette valeur est donnée à titre indicatif hors abonnement, services et prestations.
      
      +btnWrapper.u-theme-genBlue.c-btnWrapper--fullOnMobile.u-margin-t-30.u-margin-small-t-30.u-textBold
        +baseBtn({
        text: "Retour à Activ'Conso",
        secondary : true
        })


