mixin btn(data)
  - var data        = data || {}
  - var addClassBtn = ''
  - var button      = data.button || true
  - var submit      = data.submit || false
  - var linkUrl     = data.linkUrl || "#"
  - var text        = data.text || false

    if button || submit
      button.c-btn(type=submit?'submit':'button' class=addClassBtn)&attributes(attributes)
        if text
          span.c-btn__content!=text
        else 
          block

    else
      a.c-btn(href=linkUrl class=addClassBtn)&attributes(attributes)
        if text
          span.c-btn__content!=text
        else
          block