mixin miniPushLink(data)

  - data    = data || {}
  - theme   = data.theme    || ''
  - picto   = data.picto    || ''
  - titre   = data.titre    || 'Titre'
  - text    = data.text     || 'mon texte'
  - noPicto = data.noPicto  || false
  - loader  = data.loader   || false

  a.c-miniPushLink(
    href="#"
    class= theme ? theme : ""
  )&attributes(attributes)
    if loader
      +spinner().c-spinner--full

    .c-miniPushLink__text.u-textCenter
      h2.u-heading-4!=titre
      p!=text

    if !noPicto
      .c-miniPushLink__img.u-textCenter
        .icon(class=picto)
