include ../../img/img
include ../../btnWrapper/btnWrapper

mixin siteNav(data)
  // .c-siteNav
  nav.c-siteNav.v2(
    id="siteNav"
    role="navigation"
    aria-label="menu principal"
  )
    ul.c-siteNav__group

      +siteNav__item({
        linkLabel:"Tarifs réglementés du gaz",
        blockId: "siteNavLayer-1",
        img:"subMenu-rub1.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true
      })

      +siteNav__item({
        linkLabel: "Économies d’énergie",
        blockId: "siteNavLayer-2",
        img:"submenuIMG.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true

      })

      +siteNav__item({
        linkLabel: "Infos pratiques",
        blockId: "siteNavLayer-3",
        img:"subMenu-rub3.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true

      })

      +siteNav__item({
        linkLabel: "Aide et contact",
        blockId: "siteNavLayer-4",
        img:"submenuIMG.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true

      })

      +siteNav__item({
        linkLabel: "Gérer mon compte",
        blockId: "siteNavLayer-5",
        img:"submenuIMG.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true
      })

      .c-siteHeaderV2__pro
        a(href="#") Accueil Gaz Tarif Réglementé


  // end .c-siteNav




mixin siteNavMobile(data)
  // .c-siteNavMobile
  nav.c-siteNav.v2(
    id="siteNavMobile"
    role="navigation"
    aria-label="menu principal"
    data-e-toggle-target="siteNav"
    data-e-expand-mobile = "data-e-expand-mobile"
  )
    ul.c-siteNav__group

      +siteNav__item({
        linkLabel:"Tarifs réglementés du gaz",
        blockId: "siteNavLayer-1",
        img:"subMenu-rub1.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true,
        mobile: true
      })

      +siteNav__item({
        linkLabel: "Économies d’énergie",
        blockId: "siteNavLayer-2",
        img:"submenuIMG.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true,
        mobile: true
      })

      +siteNav__item({
        linkLabel: "Infos pratiques",
        blockId: "siteNavLayer-3",
        img:"subMenu-rub3.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true,
        mobile: true
      })

      +siteNav__item({
        linkLabel: "Aide et contact",
        blockId: "siteNavLayer-4",
        img:"submenuIMG.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true,
        mobile: true
      })

      +siteNav__item({
        linkLabel: "Gérer mon compte",
        blockId: "siteNavLayer-5",
        img:"submenuIMG.jpg",
        imgMobile: "submenu-MOBILE.jpg",
        themeBlue: true,
        mobile: true
      })

      .c-siteHeaderV2__pro
        a(href="#") Accueil Gaz Tarif Réglementé


  // end .c-siteNavMobile

mixin siteNav__item(data)
  - var data       = data || {}
  - var classColor = data.classColor || ""
  - var link       = data.link || "../"
  - var linkLabel  = data.linkLabel || "Lorem ipsum text"
  - var hasLayer   = (data.hasLayer === false) ? false: true
  - var blockId    = data.blockId || ""
  - var img        = data.img || ""
  - var imgMobile  = data.imgMobile || ""
  - var themeBlue  = data.themeBlue || false
  - var mobile     = data.mobile || false

  if mobile
    li.c-siteNav__item(class=classColor)&attributes(attributes)
      if(hasLayer)
        a.c-siteNav__link.c-siteNav__icon(
          href=link
          data-e-expand-mobile='{"target":"'+blockId+'"}'
        )
          span.c-siteNav__link__icon.icon.icon-openitem
          span.c-siteNav__link__icon.icon.icon-removeitem
          span.c-siteNav__link__text!=linkLabel

        +siteSubNav({
          blockId : blockId,
          img : img,
          themeBlue: themeBlue,
          mobile : mobile
        })

      else
        a.c-siteNav__link(
          href=link
          target="_blank"
          rel="noopener noreferrer"
          data-e-expand-mobile='{"target":""}'
        )
          span.c-siteNav__link__text!=linkLabel
  else
    li.c-siteNav__item(class=classColor)&attributes(attributes)
      if(hasLayer)
        a.c-siteNav__link.c-siteNav__icon(
          href=link
          data-e-expand='{"target":"'+blockId+'"}'
        )
          span.c-siteNav__link__icon.icon.icon-openitem
          span.c-siteNav__link__icon.icon.icon-removeitem
          span.c-siteNav__link__text!=linkLabel

        +siteSubNav({
          blockId : blockId,
          img : img,
          themeBlue: themeBlue,
          mobile : mobile
        })

      else
        a.c-siteNav__link(
          href=link
          target="_blank"
          rel="noopener noreferrer"
          data-e-expand='{"target":""}'
        )
          span.c-siteNav__link__text!=linkLabel




mixin siteSubNav(data)
  - var data       = data || {}
  - var blockId = data.blockId || ""
  - var img = data.img || ""
  - var themeBlue = data.themeBlue || ""
  - var mobile = data.mobile || false
  - var itemTitlePrimary = data.itemTitlePrimary || "Accueil Tarifs réglemntés du gaz"

  if mobile
    .c-siteNavLayer(data-e-expand-mobile-target=blockId)
      .c-siteNavLayer__main
        //- .c-siteNavLayer__shadow

        //- .c-siteNavLayer__img
        //-   //- +img({
        //-   //-   alt: "Description",
        //-   //-   interchange: {
        //-   //-     small:  "../images/contrib/"+ imgMobile ,
        //-   //-     medium: "../images/contrib/"+ img
        //-   //-   }
        //-   //- })

        //-   img(src="../images/contrib/"+ img + "" alt="").u-hideSmall

        .c-siteNavLayer__blockLinks
          ul.c-siteNavLayer__group
              if mobile
                li.c-siteNavLayer__item.c-siteNavLayer__itemTitle.c-siteNavLayer__itemTitlePrimary
                  a(href="#").c-siteNavLayer__itemLabel <strong>
                    <span> Accueil Tarifs réglemntés du gaz </span><span class="icon icon-ic_chevron-right"></span> </strong>        
              li.c-siteNavLayer__item.c-siteNavLayer__itemTitle
                a(href="#").c-siteNavLayer__itemLabel <strong>
                  <span> Tout savoir sur le gaz </span><span class="icon icon-ic_chevron-right"></span> </strong>
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Tarif novembre 2022
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Évolution du prix du gaz
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Niveau de prix par ville
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Estimer mon budget

          ul.c-siteNavLayer__group
              li.c-siteNavLayer__item.c-siteNavLayer__itemTitle
                a(href="#").c-siteNavLayer__itemLabel <strong> 
                  <span> Aides pour ma facture </span><span class="icon icon-ic_chevron-right"></span></strong>
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Chèque énergie
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Partenaires Médiation et Solidarité
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Fonds Solidarité Logement

          ul.c-siteNavLayer__group
              li.c-siteNavLayer__item.c-siteNavLayer__itemTitle
                a(href="#").c-siteNavLayer__itemLabel <strong> 
                  <span> Fin des tarifs réglementés </span><span class="icon icon-ic_chevron-right"></span></strong>
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Offre Gaz Tarif Réglementé
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Tout savoir sur la fin des tarifs réglementés
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Quel impact sur mon contrat


        .c-siteNavLayer__blockPush(class=themeBlue ? "c-siteNavLayer__blockPush--themeBlue" : "")
          //- strong.c-siteNavLayer__blockPushTitle Déja client ?
          +btnWrapper.c-btnWrapper--column.u-theme-genBlue
            +baseBtn({
              text: 'Le tarif du gaz naturel en mai 2022',
              secondary: true,
              iconLeft: "icon-Ic_economieEnergie",
              empty: true
            }).c-siteNavLayer__btnBaseLink
      
            +baseBtn({
              text: 'Le tarif du gaz naturel en mai 2022',
              secondary: true
            }).secondary
            +baseBtn({
              secondary: true,
              text: 'Mon tarif est-il adapté à ma consommation ?'
            }).third
        
        //- button(
        //-   class="c-siteNavLayerClose"
        //-   data-e-expand-close="data-e-expand-close"
        //-   tabIndex="-1"
        //-   type="button"
        //- )
        //-   span.c-siteNavLayerClose__icon.icon.icon-close
        //-   span.c-siteNavLayerClose__text Fermer
  else 

    .c-siteNavLayer(data-e-expand-target=blockId)
      .c-siteNavLayer__main
        //- .c-siteNavLayer__shadow

        //- .c-siteNavLayer__img
        //-   //- +img({
        //-   //-   alt: "Description",
        //-   //-   interchange: {
        //-   //-     small:  "../images/contrib/"+ imgMobile ,
        //-   //-     medium: "../images/contrib/"+ img
        //-   //-   }
        //-   //- })

        //-   img(src="../images/contrib/"+ img + "" alt="").u-hideSmall

        .c-siteNavLayer__blockLinks
          ul.c-siteNavLayer__group
              if mobile
                li.c-siteNavLayer__item.c-siteNavLayer__itemTitle.c-siteNavLayer__itemTitlePrimary
                  a(href="#").c-siteNavLayer__itemLabel <strong>
                    <span> Accueil Tarifs réglemntés du gaz </span><span class="icon icon-ic_chevron-right"></span> </strong>        
              li.c-siteNavLayer__item.c-siteNavLayer__itemTitle
                a(href="#").c-siteNavLayer__itemLabel <strong>
                  <span> Tout savoir sur le gaz </span><span class="icon icon-ic_chevron-right"></span> </strong>
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Tarif novembre 2022
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Évolution du prix du gaz
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Niveau de prix par ville
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Estimer mon budget

          ul.c-siteNavLayer__group
              li.c-siteNavLayer__item.c-siteNavLayer__itemTitle
                a(href="#").c-siteNavLayer__itemLabel <strong> 
                  <span> Aides pour ma facture </span><span class="icon icon-ic_chevron-right"></span></strong>
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Chèque énergie
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Partenaires Médiation et Solidarité
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Fonds Solidarité Logement

          ul.c-siteNavLayer__group
              li.c-siteNavLayer__item.c-siteNavLayer__itemTitle
                a(href="#").c-siteNavLayer__itemLabel <strong> 
                  <span> Fin des tarifs réglementés </span><span class="icon icon-ic_chevron-right"></span></strong>
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Offre Gaz Tarif Réglementé
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Tout savoir sur la fin des tarifs réglementés
              li.c-siteNavLayer__item
                a(href="#").c-siteNavLayer__itemLabel 
                  span Quel impact sur mon contrat


        .c-siteNavLayer__blockPush(class=themeBlue ? "c-siteNavLayer__blockPush--themeBlue" : "")
          //- strong.c-siteNavLayer__blockPushTitle Déja client ?
          +btnWrapper.c-btnWrapper--column.u-theme-genBlue
            +baseBtn({
              text: 'Le tarif du gaz naturel en mai 2022',
              secondary: true,
              iconLeft: "icon-Ic_economieEnergie",
              empty: true
            }).c-siteNavLayer__btnBaseLink
      
            +baseBtn({
              text: 'Le tarif du gaz naturel en mai 2022',
              secondary: true
            }).secondary
            +baseBtn({
              secondary: true,
              text: 'Mon tarif est-il adapté à ma consommation ?'
            }).third


